Universidade de São Paulo - USP
Instituto de Matemática e Estatística - IME

Disciplina:  Ciência e Engenharia de Dado - MAC 5865
Responsável: Prof. Dr. Roberto Hirata
Estudantes: Alexandre Locci Martins, Angel Felipe M. de Paula

São Paulo, 16 de Novembro de 2018

Segundo Trabalho de Curso

Objetivos

Estudar o banco de dados "dvd_rental" com a finalidade de responder as seguintes perguntas:

1) O Banco de Dados é real ou Irreal? (feita pelo professor)

2) Quais os clientes que mais gastaram em locações? (feita pelo grupo)

3) Quantos clientes alugaram uma dada fita "X"? (feita pelo grupo)

4) Quais os atores que aparecem em mais filmes? (feita pelo professor) 

As respostas são apresentadas nas próximas células deste notebook.

Observação

Para realizar este trabalho, geramos um dataset (dataset_quatro.csv) que permite justificar as conclusões apresentadas, bem como armazena os resultados sobre os quais estas conclusões foram construídas.

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///dvd_rental.db

'Connected: @dvd_rental.db'

Respostas

Resposta questão 4 - Quais os atores que aparecem em mais filmes? (feita pelo professor) 
Para responder esta pergunta seguimos o seguinte procedimento:

1. Pelo diagrama de relacionamento identificamos que um ator pode estar em um filme e um filme pode ter um ator ou nenhum ator.
2. Implementamos os seguintes buscas (apresentadas nas celulas a seguir)

In [3]:
%sql ---Para determinar qual ator participou de qual filme implementamos a seguinte busca.

%sql Create table ator_1 as select film_actor.film_id, actor.actor_id from film_actor INNER JOIN actor ON film_actor.actor_id = actor.actor_id and actor.actor_id= 1;

%sql ---Criamos uma tabela ator_1 para armazenar os dados coletados. Nesta tabela, o ator com id = 1 é relacionado a cada
%sql ---filme no qual ele participou.

 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
Done.
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.

[]

In [4]:
%sql ---Agregamos a tabela ator_1 como uma coluna na tabela dataset_quatro para futura manipulação de dados.

%sql ALTER TABLE dataset_quatro ADD ator_1 int AFTER num_de;

%sql --- A coluna já existe, pois fizemos os testes antes entregar o trabalho.
%sql --- Logo, a saída desta célula vai resultar em erro, por duplicação de coluna.

 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
(sqlite3.OperationalError) duplicate column name: ator_1 [SQL: 'ALTER TABLE dataset_quatro ADD ator_1 int AFTER num_de;'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.

[]

In [5]:
%sql ---Para todas as celulas na coluna ator_1 nos preenchemos com o valor zero. Depois executamos o comando abaixo.
%sql ---Neste comando, toda vez que film_id do dataset_quatro (que no banco é uma tabela) for igual ao film_id da tabela ator_1
%sql ---nós inserimos o valor 1.

%sql UPDATE dataset_quatro SET ator_1 = 1 WHERE film_id IN (SELECT film_id FROM ator_1 WHERE dataset_quatro.film_id = ator_1.film_id);

 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
19 rows affected.

[]

In [6]:
%sql ---Para manter a integridade do banco, deletamos a tabela auxiliaer ator_1.

%sql DROP TABLE ator_1;

 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
Done.

[]

In [7]:
%sql ---O processo acima descrito foi realizado para os 200 atores identificados no banco.
%sql ---Para automatizar o processo, e manter a simplicidade das buscas, foi criado um script utilizando um programa
%sql ---escrito em Java (arquivo entregue em anexo), o qual gerou todas os comandos sql necessários. O resultado, pode ser
%sql ---visto na tabela dataset_quatro.

 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.
 * sqlite:///dvd_rental.db
0 rows affected.

[]

In [8]:
#%sql select * from dataset_quatro;
#Descomente para ver a tabela criada

Convertemos a tabela dataset_quatro em um panda DataFrame a fim de fazermos as devidas analises que vão determianr os atores que participaram de mais filmes.

In [9]:
#Criamos o dataframe partindo da tebela dataset_quatro
import sqlite3
import pandas as pd

con = sqlite3.connect('dvd_rental.db')
myFrames = pd.read_sql_query('select * from dataset_quatro;', con)

In [10]:
df = pd.DataFrame(myFrames)

In [11]:
#Selecionamos as colunas referentes aos atores.
df_aux = df.iloc[:, 9:209]
#Somamos o número de participação de cada ator.
df_aux.sum()
#Criamos um dataframe com base na soma dos valores 
df_ator = pd.DataFrame(df_aux.sum())
#Ordenamos o dataframe com base no número de participações.
ator = df_ator.sort_values(by=[0],ascending=False)
id_ator = ator.index

In [12]:
#Criamos a listagem.
for i in id_ator:
    valor = ator.loc[i].values[0]
    print("Participou de " + str(valor) + " filmes:")
    key = i.replace("ator_","") 
    first_name = pd.read_sql_query('select first_name from actor where actor_id = ' + key + ';', con)
    first_name = first_name['first_name'].values[0]
    last_name = pd.read_sql_query('select last_name from actor  where actor_id = ' + key + ';', con)
    last_name = last_name['last_name'].values[0]
    name = first_name + " " + last_name
    print(name)

Participou de 42 filmes:
GINA DEGENERES
Participou de 40 filmes:
MARY KEITEL
Participou de 39 filmes:
WALTER TORN
Participou de 37 filmes:
MATTHEW CARREY
Participou de 36 filmes:
SANDRA KILMER
Participou de 35 filmes:
VAL BOLGER
Participou de 35 filmes:
VIVIEN BASINGER
Participou de 35 filmes:
ANGELA WITHERSPOON
Participou de 35 filmes:
HENRY BERRY
Participou de 35 filmes:
SCARLETT DAMON
Participou de 34 filmes:
GROUCHO DUNST
Participou de 34 filmes:
ANGELA HUDSON
Participou de 33 filmes:
SEAN GUINESS
Participou de 33 filmes:
SIDNEY CROWE
Participou de 33 filmes:
SUSAN DAVIS
Participou de 33 filmes:
UMA WOOD
Participou de 33 filmes:
WARREN NOLTE
Participou de 33 filmes:
RENEE TRACY
Participou de 33 filmes:
EWAN GOODING
Participou de 33 filmes:
JAYNE NOLTE
Participou de 33 filmes:
RIP CRAWFORD
Participou de 32 filmes:
JULIA MCQUEEN
Participou de 32 filmes:
BEN WILLIS
Participou de 32 filmes:
KEVIN GARLAND
Participou de 32 filmes:
NATALIE HOPKINS
Participou de 32 filmes:
RENEE BALL
Participou de 32 filmes:
KIRSTEN AKROYD
Participou de 32 filmes:
REESE WEST
Participou de 31 filmes:
HELEN VOIGHT
Participou de 31 filmes:
WILL WILSON
Participou de 31 filmes:
HARVEY HOPE
Participou de 31 filmes:
RUSSELL TEMPLE
Participou de 31 filmes:
JAMES PITT
Participou de 31 filmes:
WHOOPI HURT
Participou de 31 filmes:
ED MANSFIELD
Participou de 31 filmes:
CHRISTIAN AKROYD
Participou de 31 filmes:
DARYL WAHLBERG
Participou de 31 filmes:
REESE KILMER
Participou de 31 filmes:
KARL BERRY
Participou de 30 filmes:
WOODY HOFFMAN
Participou de 30 filmes:
ANGELINA ASTAIRE
Participou de 30 filmes:
LUCILLE TRACY
Participou de 30 filmes:
KENNETH TORN
Participou de 30 filmes:
ALBERT NOLTE
Participou de 30 filmes:
CAMERON ZELLWEGER
Participou de 30 filmes:
JULIANNE DENCH
Participou de 30 filmes:
RICHARD PENN
Participou de 30 filmes:
JADA RYDER
Participou de 30 filmes:
ALBERT JOHANSSON
Participou de 30 filmes:
FAY WINSLET
Participou de 30 filmes:
MARY TANDY
Participou de 30 filmes:
MICHAEL BOLGER
Participou de 30 filmes:
NICK STALLONE
Participou de 30 filmes:
BELA WALKEN
Participou de 29 filmes:
MENA TEMPLE
Participou de 29 filmes:
IAN TANDY
Participou de 29 filmes:
MINNIE ZELLWEGER
Participou de 29 filmes:
PENELOPE CRONYN
Participou de 29 filmes:
ALEC WAYNE
Participou de 29 filmes:
VIVIEN BERGEN
Participou de 29 filmes:
WARREN JACKMAN
Participou de 29 filmes:
JODIE DEGENERES
Participou de 29 filmes:
CATE MCQUEEN
Participou de 29 filmes:
DARYL CRAWFORD
Participou de 29 filmes:
GRACE MOSTEL
Participou de 29 filmes:
ROCK DUKAKIS
Participou de 29 filmes:
JOHN SUVARI
Participou de 29 filmes:
GREGORY GOODING
Participou de 29 filmes:
ED GUINESS
Participou de 28 filmes:
JAYNE NEESON
Participou de 28 filmes:
MATTHEW LEIGH
Participou de 28 filmes:
JUDE CRUISE
Participou de 28 filmes:
JON CHASE
Participou de 28 filmes:
RALPH CRUZ
Participou de 28 filmes:
JOHNNY LOLLOBRIGIDA
Participou de 28 filmes:
JOHNNY CAGE
Participou de 28 filmes:
RAY JOHANSSON
Participou de 28 filmes:
GOLDIE BRODY
Participou de 28 filmes:
BURT DUKAKIS
Participou de 28 filmes:
RIVER DEAN
Participou de 27 filmes:
GRETA KEITEL
Participou de 27 filmes:
KENNETH HOFFMAN
Participou de 27 filmes:
ALAN DREYFUSS
Participou de 27 filmes:
WILLIAM HACKMAN
Participou de 27 filmes:
GENE MCKELLEN
Participou de 27 filmes:
MEG HAWKE
Participou de 27 filmes:
KIM ALLEN
Participou de 27 filmes:
GRETA MALDEN
Participou de 27 filmes:
CUBA OLIVIER
Participou de 27 filmes:
MILLA KEITEL
Participou de 27 filmes:
GREG CHAPLIN
Participou de 27 filmes:
DAN HARRIS
Participou de 27 filmes:
WOODY JOLIE
Participou de 26 filmes:
CATE HARRIS
Participou de 26 filmes:
MERYL GIBSON
Participou de 26 filmes:
GROUCHO SINATRA
Participou de 26 filmes:
MAE HOFFMAN
Participou de 26 filmes:
ANNE CRONYN
Participou de 26 filmes:
MORGAN HOPKINS
Participou de 26 filmes:
TOM MIRANDA
Participou de 26 filmes:
FRANCES DAY-LEWIS
Participou de 26 filmes:
MORGAN WILLIAMS
Participou de 26 filmes:
HUMPHREY GARLAND
Participou de 26 filmes:
OLYMPIA PFEIFFER
Participou de 25 filmes:
AL GARLAND
Participou de 25 filmes:
LAURA BRODY
Participou de 25 filmes:
RIP WINSLET
Participou de 25 filmes:
CARMEN HUNT
Participou de 25 filmes:
DUSTIN TAUTOU
Participou de 25 filmes:
SCARLETT BENING
Participou de 25 filmes:
SALMA NOLTE
Participou de 25 filmes:
GARY PHOENIX
Participou de 25 filmes:
PENELOPE MONROE
Participou de 25 filmes:
LAURENCE BULLOCK
Participou de 25 filmes:
ZERO CAGE
Participou de 25 filmes:
PENELOPE PINKETT
Participou de 25 filmes:
HARRISON BALE
Participou de 25 filmes:
JAYNE SILVERSTONE
Participou de 25 filmes:
FRED COSTNER
Participou de 25 filmes:
CHRISTIAN NEESON
Participou de 25 filmes:
MORGAN MCDORMAND
Participou de 25 filmes:
KIRK JOVOVICH
Participou de 25 filmes:
KIRSTEN PALTROW
Participou de 25 filmes:
JIM MOSTEL
Participou de 25 filmes:
TOM MCKELLEN
Participou de 25 filmes:
RUSSELL BACALL
Participou de 24 filmes:
MICHAEL BENING
Participou de 24 filmes:
HUMPHREY WILLIS
Participou de 24 filmes:
GEOFFREY HESTON
Participou de 24 filmes:
AUDREY OLIVIER
Participou de 24 filmes:
SEAN WILLIAMS
Participou de 24 filmes:
GROUCHO WILLIAMS
Participou de 24 filmes:
LUCILLE DEE
Participou de 24 filmes:
CUBA ALLEN
Participou de 24 filmes:
CHRIS BRIDGES
Participou de 24 filmes:
CHARLIZE DENCH
Participou de 24 filmes:
JANE JACKMAN
Participou de 24 filmes:
LIZA BERGMAN
Participou de 24 filmes:
BURT POSEY
Participou de 24 filmes:
NICK WAHLBERG
Participou de 23 filmes:
AUDREY BAILEY
Participou de 23 filmes:
CUBA BIRCH
Participou de 23 filmes:
MENA HOPPER
Participou de 23 filmes:
ELVIS MARX
Participou de 23 filmes:
PARKER GOLDBERG
Participou de 23 filmes:
JULIA BARRYMORE
Participou de 23 filmes:
LISA MONROE
Participou de 23 filmes:
CARY MCCONAUGHEY
Participou de 23 filmes:
BURT TEMPLE
Participou de 23 filmes:
JOE SWANK
Participou de 23 filmes:
CAMERON STREEP
Participou de 23 filmes:
MICHELLE MCCONAUGHEY
Participou de 23 filmes:
DEBBIE AKROYD
Participou de 23 filmes:
GARY PENN
Participou de 23 filmes:
MILLA PECK
Participou de 22 filmes:
SPENCER DEPP
Participou de 22 filmes:
BOB FAWCETT
Participou de 22 filmes:
OPRAH KILMER
Participou de 22 filmes:
ADAM HOPPER
Participou de 22 filmes:
TIM HACKMAN
Participou de 22 filmes:
MERYL ALLEN
Participou de 22 filmes:
JESSICA BAILEY
Participou de 22 filmes:
ELLEN PRESLEY
Participou de 22 filmes:
CHRISTIAN GABLE
Participou de 21 filmes:
ED CHASE
Participou de 21 filmes:
GENE WILLIS
Participou de 21 filmes:
DAN STREEP
Participou de 21 filmes:
NICK DEGENERES
Participou de 21 filmes:
SPENCER PECK
Participou de 21 filmes:
CHRISTOPHER WEST
Participou de 21 filmes:
SYLVESTER DERN
Participou de 21 filmes:
GENE HOPKINS
Participou de 21 filmes:
FAY WOOD
Participou de 21 filmes:
FRANCES TOMEI
Participou de 21 filmes:
KENNETH PALTROW
Participou de 20 filmes:
SUSAN DAVIS
Participou de 20 filmes:
BETTE NICHOLSON
Participou de 20 filmes:
MINNIE KILMER
Participou de 20 filmes:
FAY KILMER
Participou de 20 filmes:
JEFF SILVERSTONE
Participou de 20 filmes:
KEVIN BLOOM
Participou de 20 filmes:
CHRISTOPHER BERRY
Participou de 20 filmes:
DAN TORN
Participou de 19 filmes:
PENELOPE GUINESS
Participou de 19 filmes:
BEN HARRIS
Participou de 19 filmes:
RITA REYNOLDS
Participou de 19 filmes:
CAMERON WRAY
Participou de 19 filmes:
MATTHEW JOHANSSON
Participou de 19 filmes:
JENNIFER DAVIS
Participou de 19 filmes:
THORA TEMPLE
Participou de 18 filmes:
RUSSELL CLOSE
Participou de 18 filmes:
CHRIS DEPP
Participou de 18 filmes:
KENNETH PESCI
Participou de 17 filmes:
SISSY SOBIESKI
Participou de 17 filmes:
SANDRA PECK
Participou de 16 filmes:
JULIA ZELLWEGER
Participou de 16 filmes:
ADAM GRANT
Participou de 15 filmes:
JUDY DEAN
Participou de 15 filmes:
JULIA FAWCETT
Participou de 14 filmes:
EMILY DEE

Conclusão: A lista da célula anterior identificva os atores e o número de filmes nos quais participou. A atriz Gina Degeneres participou de 42 filmes sendo a atriz com maior participação.

Resposta questão 3 - Quantos clientes alugaram uma dada fita "X"?

Pelo diagrama de relacionamento, um filme pode ter várias cópias no inventário, mas cada cópia possua um contrato de aluguel no qual um único cliente é identificado como um locatário. Logo, é possível determinar quantos clientes locaram um dado título, pois para cada vez que o inventtory_id da tabela inventory for igual ao inventory_id da tabela rental  que um filme, film_id, foi vinculado a um cliente, custumer_id.

In [13]:
%sql drop table film_customer;
%sql Create table film_customer as Select inventory.film_id, count(rental.customer_id) from rental INNER Join inventory where inventory.inventory_id = rental.inventory_id Group by inventory.film_id order by inventory.film_id;
#Tabela já foi criada durante os nossos testes.
%sql select * from film_customer;

 * sqlite:///dvd_rental.db
Done.
 * sqlite:///dvd_rental.db
Done.
 * sqlite:///dvd_rental.db
Done.

[(1, 23),
 (2, 7),
 (3, 12),
 (4, 23),
 (5, 12),
 (6, 21),
 (7, 15),
 (8, 18),
 (9, 12),
 (10, 23),
 (11, 24),
 (12, 26),
 (13, 9),
 (15, 22),
 (16, 14),
 (17, 18),
 (18, 22),
 (19, 21),
 (20, 10),
 (21, 22),
 (22, 21),
 (23, 21),
 (24, 14),
 (25, 22),
 (26, 22),
 (27, 13),
 (28, 15),
 (29, 10),
 (30, 9),
 (31, 31),
 (32, 6),
 (34, 13),
 (35, 24),
 (37, 21),
 (39, 21),
 (40, 16),
 (42, 16),
 (43, 24),
 (44, 16),
 (45, 24),
 (46, 11),
 (47, 8),
 (48, 19),
 (49, 21),
 (50, 16),
 (51, 23),
 (52, 8),
 (53, 7),
 (54, 22),
 (55, 25),
 (56, 18),
 (57, 21),
 (58, 17),
 (59, 22),
 (60, 11),
 (61, 22),
 (62, 6),
 (63, 13),
 (64, 11),
 (65, 13),
 (66, 10),
 (67, 21),
 (68, 15),
 (69, 21),
 (70, 17),
 (71, 13),
 (72, 19),
 (73, 29),
 (74, 11),
 (75, 11),
 (76, 9),
 (77, 18),
 (78, 27),
 (79, 22),
 (80, 12),
 (81, 14),
 (82, 10),
 (83, 21),
 (84, 15),
 (85, 16),
 (86, 29),
 (88, 12),
 (89, 22),
 (90, 18),
 (91, 24),
 (92, 11),
 (93, 12),
 (94, 5),
 (95, 17),
 (96, 13),
 (97, 19),
 (98, 13),
 (99, 20),
 (100, 21),
 (101, 26),
 (102, 6),
 (103, 34),
 (104, 11),
 (105, 16),
 (106, 7),
 (107, 5),
 (109, 30),
 (110, 15),
 (111, 16),
 (112, 21),
 (113, 12),
 (114, 27),
 (115, 19),
 (116, 18),
 (117, 23),
 (118, 19),
 (119, 24),
 (120, 9),
 (121, 18),
 (122, 23),
 (123, 16),
 (124, 8),
 (125, 6),
 (126, 9),
 (127, 30),
 (129, 21),
 (130, 24),
 (131, 24),
 (132, 21),
 (133, 13),
 (134, 13),
 (135, 27),
 (136, 8),
 (137, 15),
 (138, 21),
 (139, 20),
 (140, 20),
 (141, 16),
 (142, 22),
 (143, 22),
 (145, 13),
 (146, 8),
 (147, 20),
 (149, 21),
 (150, 19),
 (151, 13),
 (152, 15),
 (153, 13),
 (154, 25),
 (155, 18),
 (156, 7),
 (157, 10),
 (158, 19),
 (159, 28),
 (160, 19),
 (161, 7),
 (162, 25),
 (163, 8),
 (164, 21),
 (165, 16),
 (166, 24),
 (167, 26),
 (168, 6),
 (169, 17),
 (170, 16),
 (172, 25),
 (173, 14),
 (174, 29),
 (175, 17),
 (176, 22),
 (177, 13),
 (178, 7),
 (179, 16),
 (180, 5),
 (181, 26),
 (182, 7),
 (183, 17),
 (184, 18),
 (185, 7),
 (186, 16),
 (187, 11),
 (188, 9),
 (189, 16),
 (190, 14),
 (191, 23),
 (193, 21),
 (194, 12),
 (196, 7),
 (197, 8),
 (199, 23),
 (200, 27),
 (201, 15),
 (202, 13),
 (203, 16),
 (204, 20),
 (205, 14),
 (206, 27),
 (207, 12),
 (208, 9),
 (209, 13),
 (210, 11),
 (211, 9),
 (212, 18),
 (213, 13),
 (214, 9),
 (215, 18),
 (216, 14),
 (218, 21),
 (219, 14),
 (220, 29),
 (222, 19),
 (223, 8),
 (224, 6),
 (225, 8),
 (226, 16),
 (227, 19),
 (228, 27),
 (229, 15),
 (230, 9),
 (231, 20),
 (232, 15),
 (233, 19),
 (234, 26),
 (235, 21),
 (236, 15),
 (237, 7),
 (238, 7),
 (239, 30),
 (240, 9),
 (241, 14),
 (242, 21),
 (243, 19),
 (244, 27),
 (245, 25),
 (246, 10),
 (247, 25),
 (248, 7),
 (249, 21),
 (250, 11),
 (251, 18),
 (252, 22),
 (253, 24),
 (254, 18),
 (255, 21),
 (256, 9),
 (257, 11),
 (258, 13),
 (259, 6),
 (260, 16),
 (261, 7),
 (262, 6),
 (263, 26),
 (264, 9),
 (265, 17),
 (266, 25),
 (267, 22),
 (268, 7),
 (269, 19),
 (270, 23),
 (271, 23),
 (272, 15),
 (273, 25),
 (274, 21),
 (275, 17),
 (276, 10),
 (277, 14),
 (278, 7),
 (279, 10),
 (280, 21),
 (281, 19),
 (282, 19),
 (283, 11),
 (284, 29),
 (285, 30),
 (286, 18),
 (287, 15),
 (288, 25),
 (289, 7),
 (290, 13),
 (291, 12),
 (292, 21),
 (293, 13),
 (294, 18),
 (295, 28),
 (296, 13),
 (297, 6),
 (298, 19),
 (299, 17),
 (300, 22),
 (301, 29),
 (302, 19),
 (303, 26),
 (304, 24),
 (305, 28),
 (306, 11),
 (307, 26),
 (308, 17),
 (309, 25),
 (310, 5),
 (311, 19),
 (312, 10),
 (313, 21),
 (314, 22),
 (315, 12),
 (316, 7),
 (317, 21),
 (319, 25),
 (320, 23),
 (321, 13),
 (322, 22),
 (323, 12),
 (324, 17),
 (326, 20),
 (327, 23),
 (328, 13),
 (329, 18),
 (330, 27),
 (331, 32),
 (333, 17),
 (334, 23),
 (335, 5),
 (336, 17),
 (337, 11),
 (338, 9),
 (339, 10),
 (340, 6),
 (341, 30),
 (342, 11),
 (343, 5),
 (344, 19),
 (345, 19),
 (346, 18),
 (347, 14),
 (348, 17),
 (349, 27),
 (350, 20),
 (351, 16),
 (352, 11),
 (353, 23),
 (354, 21),
 (355, 9),
 (356, 28),
 (357, 9),
 (358, 28),
 (360, 14),
 (361, 29),
 (362, 5),
 (363, 20),
 (364, 8),
 (365, 14),
 (366, 24),
 (367, 27),
 (368, 10),
 (369, 31),
 (370, 19),
 (371, 8),
 (372, 6),
 (373, 16),
 (374, 30),
 (375, 10),
 (376, 22),
 (377, 21),
 (378, 29),
 (379, 14),
 (380, 17),
 (381, 14),
 (382, 32),
 (383, 18),
 (384, 8),
 (385, 18),
 (387, 25),
 (388, 24),
 (389, 12),
 (390, 9),
 (391, 26),
 (392, 16),
 (393, 10),
 (394, 14),
 (395, 28),
 (396, 19),
 (397, 26),
 (398, 17),
 (399, 6),
 (400, 4),
 (401, 8),
 (402, 20),
 (403, 30),
 (405, 6),
 (406, 22),
 (407, 7),
 (408, 22),
 (409, 20),
 (410, 18),
 (411, 7),
 (412, 23),
 (413, 12),
 (414, 20),
 (415, 22),
 (416, 21),
 (417, 25),
 (418, 31),
 (420, 15),
 (421, 15),
 (422, 10),
 (423, 13),
 (424, 17),
 (425, 9),
 (426, 14),
 (427, 16),
 (428, 22),
 (429, 19),
 (430, 13),
 (431, 8),
 (432, 18),
 (433, 24),
 (434, 27),
 (435, 9),
 (436, 19),
 (437, 23),
 (438, 15),
 (439, 20),
 (440, 13),
 (441, 5),
 (442, 15),
 (443, 24),
 (444, 22),
 (445, 26),
 (446, 15),
 (447, 24),
 (448, 17),
 (449, 13),
 (450, 30),
 (451, 19),
 (452, 15),
 (453, 14),
 (454, 9),
 (455, 14),
 (456, 18),
 (457, 19),
 (458, 16),
 (459, 5),
 (460, 26),
 (461, 18),
 (462, 20),
 (463, 18),
 (464, 17),
 (465, 20),
 (466, 9),
 (467, 20),
 (468, 27),
 (469, 11),
 (470, 7),
 (471, 26),
 (472, 6),
 (473, 18),
 (474, 18),
 (475, 6),
 (476, 24),
 (477, 10),
 (478, 14),
 (479, 19),
 (480, 16),
 (481, 17),
 (482, 10),
 (483, 17),
 (484, 20),
 (485, 6),
 (486, 20),
 (487, 13),
 (488, 17),
 (489, 32),
 (490, 8),
 (491, 24),
 (492, 9),
 (493, 14),
 (494, 23),
 (496, 20),
 (498, 6),
 (499, 9),
 (500, 22),
 (501, 20),
 (502, 24),
 (503, 9),
 (504, 23),
 (505, 15),
 (506, 17),
 (507, 6),
 (508, 10),
 (509, 11),
 (510, 17),
 (511, 13),
 (512, 17),
 (513, 7),
 (514, 21),
 (515, 9),
 (516, 9),
 (517, 7),
 (518, 22),
 (519, 12),
 (520, 7),
 (521, 27),
 (522, 10),
 (523, 8),
 (524, 18),
 (525, 27),
 (526, 16),
 (527, 24),
 (528, 10),
 (529, 15),
 (530, 11),
 (531, 27),
 (532, 15),
 (533, 12),
 (534, 17),
 (535, 20),
 (536, 14),
 (537, 10),
 (538, 12),
 (539, 10),
 (540, 13),
 (541, 7),
 (542, 15),
 (543, 10),
 (544, 15),
 (545, 25),
 (546, 14),
 (547, 7),
 (548, 8),
 (549, 11),
 (550, 9),
 (551, 24),
 (552, 17),
 (553, 10),
 (554, 26),
 (555, 25),
 (556, 22),
 (557, 15),
 (558, 5),
 (559, 30),
 (560, 19),
 (561, 17),
 (562, 20),
 (563, 30),
 (564, 12),
 (565, 9),
 (566, 8),
 (567, 12),
 (568, 13),
 (569, 7),
 (570, 16),
 (571, 25),
 (572, 26),
 (573, 13),
 (574, 17),
 (575, 22),
 (576, 12),
 (577, 13),
 (578, 20),
 (579, 20),
 (580, 19),
 (581, 12),
 (582, 9),
 (583, 18),
 (584, 4),
 (585, 12),
 (586, 24),
 (587, 11),
 (588, 15),
 (589, 15),
 (590, 20),
 (591, 9),
 (592, 15),
 (593, 13),
 (594, 9),
 (595, 29),
 (596, 21),
 (597, 13),
 (598, 15),
 (599, 14),
 (600, 16),
 (601, 16),
 (602, 21),
 (603, 27),
 (604, 13),
 (605, 7),
 (606, 16),
 (608, 23),
 (609, 30),
 (610, 19),
 (611, 17),
 (612, 5),
 (613, 10),
 (614, 23),
 (615, 15),
 (616, 19),
 (617, 13),
 (618, 15),
 (619, 19),
 (620, 14),
 (621, 31),
 (622, 7),
 (623, 17),
 (624, 25),
 (625, 27),
 (626, 17),
 (627, 11),
 (628, 20),
 (629, 14),
 (630, 10),
 (631, 19),
 (632, 9),
 (633, 11),
 (634, 15),
 (635, 6),
 (636, 10),
 (637, 21),
 (638, 27),
 (639, 13),
 (640, 11),
 (641, 24),
 (643, 17),
 (644, 25),
 (645, 23),
 (646, 23),
 (647, 20),
 (648, 14),
 (649, 24),
 (650, 24),
 (651, 22),
 (652, 14),
 (653, 7),
 (654, 15),
 (655, 15),
 (656, 8),
 (657, 18),
 (658, 14),
 (659, 8),
 (660, 13),
 (661, 13),
 (662, 10),
 (663, 19),
 (664, 16),
 (665, 23),
 (666, 16),
 (667, 14),
 (668, 20),
 (670, 26),
 (672, 17),
 (673, 14),
 (674, 8),
 (675, 6),
 (676, 23),
 (677, 21),
 (678, 16),
 (679, 16),
 (680, 20),
 (681, 21),
 (682, 12),
 (683, 26),
 (684, 7),
 (685, 9),
 (686, 16),
 (687, 26),
 (688, 18),
 (689, 18),
 (690, 19),
 (691, 17),
 (692, 11),
 (693, 17),
 (694, 20),
 (695, 7),
 (696, 16),
 (697, 27),
 (698, 27),
 (699, 5),
 (700, 11),
 (702, 30),
 (703, 8),
 (704, 16),
 (705, 13),
 (706, 22),
 (707, 20),
 (708, 16),
 (709, 18),
 (710, 19),
 (711, 13),
 (714, 9),
 (715, 27),
 (716, 16),
 (717, 17),
 (718, 8),
 (719, 8),
 (720, 20),
 (721, 9),
 (722, 11),
 (723, 20),
 (724, 18),
 (725, 19),
 (726, 10),
 (727, 21),
 (728, 20),
 (729, 11),
 (730, 32),
 (731, 10),
 (732, 15),
 (733, 20),
 (734, 19),
 (735, 31),
 (736, 13),
 (737, 17),
 (738, 33),
 (739, 16),
 (740, 10),
 (741, 24),
 (743, 20),
 (744, 17),
 (745, 28),
 (746, 18),
 (747, 19),
 (748, 30),
 (749, 16),
 (750, 10),
 (751, 8),
 (752, 8),
 (753, 31),
 (754, 6),
 (755, 21),
 (756, 14),
 (757, 16),
 (758, 8),
 (759, 23),
 (760, 25),
 (761, 11),
 (762, 13),
 (763, 17),
 (764, 28),
 (765, 13),
 (766, 12),
 (767, 32),
 (768, 18),
 (769, 6),
 (770, 15),
 (771, 23),
 (772, 22),
 (773, 26),
 (774, 14),
 (775, 24),
 (776, 21),
 (777, 18),
 (778, 20),
 (779, 7),
 (780, 10),
 (781, 5),
 (782, 22),
 (783, 14),
 (784, 14),
 (785, 19),
 (786, 25),
 (787, 8),
 (788, 15),
 (789, 30),
 (790, 24),
 (791, 25),
 (792, 15),
 (793, 14),
 (794, 12),
 (795, 15),
 (796, 15),
 (797, 16),
 (798, 12),
 (799, 6),
 (800, 22),
 (803, 17),
 (804, 24),
 (805, 20),
 (806, 21),
 (807, 21),
 (808, 6),
 (809, 16),
 (810, 24),
 (811, 10),
 (812, 18),
 (813, 12),
 (814, 22),
 (815, 9),
 (816, 23),
 (817, 8),
 (818, 19),
 (819, 11),
 (820, 15),
 (821, 12),
 (822, 8),
 (823, 22),
 (824, 9),
 (825, 12),
 (826, 9),
 (827, 20),
 (828, 13),
 (829, 13),
 (830, 15),
 (831, 11),
 (832, 14),
 (833, 21),
 (834, 10),
 (835, 27),
 (836, 7),
 (837, 10),
 (838, 26),
 (839, 7),
 (840, 14),
 (841, 21),
 (842, 13),
 (843, 23),
 (844, 15),
 (845, 20),
 (846, 21),
 (847, 14),
 (848, 11),
 (849, 29),
 (850, 28),
 (851, 20),
 (852, 24),
 (853, 11),
 (854, 17),
 (855, 16),
 (856, 25),
 (857, 23),
 (858, 15),
 (859, 17),
 (861, 21),
 (862, 16),
 (863, 25),
 (864, 19),
 (865, 24),
 (866, 8),
 (867, 13),
 (868, 10),
 (869, 30),
 (870, 27),
 (871, 18),
 (872, 15),
 (873, 29),
 (875, 29),
 (876, 8),
 (877, 17),
 (878, 17),
 (879, 27),
 (880, 25),
 (881, 12),
 (882, 13),
 (883, 6),
 (884, 6),
 (885, 6),
 (886, 11),
 (887, 19),
 (888, 11),
 (889, 11),
 (890, 26),
 (891, 31),
 (892, 23),
 (893, 29),
 (894, 14),
 (895, 25),
 (896, 15),
 (897, 27),
 (898, 22),
 (899, 11),
 (900, 14),
 (901, 26),
 (902, 25),
 (903, 5),
 (904, 4),
 (905, 11),
 (906, 20),
 (907, 15),
 (908, 16),
 (910, 7),
 (911, 28),
 (912, 19),
 (913, 14),
 (914, 23),
 (915, 23),
 (916, 14),
 (917, 13),
 (918, 11),
 (919, 12),
 (920, 21),
 (921, 14),
 (922, 21),
 (923, 8),
 (924, 18),
 (925, 17),
 (926, 8),
 (927, 16),
 (928, 12),
 (929, 13),
 (930, 21),
 (931, 12),
 (932, 15),
 (933, 12),
 (934, 9),
 (935, 7),
 (936, 18),
 (937, 16),
 (938, 26),
 (939, 8),
 (940, 9),
 (941, 29),
 (942, 15),
 (944, 17),
 (945, 29),
 (946, 14),
 (947, 7),
 (948, 19),
 (949, 22),
 (951, 28),
 (952, 10),
 (953, 21),
 (956, 16),
 (957, 12),
 (958, 27),
 (959, 6),
 (960, 10),
 (961, 23),
 (962, 15),
 (963, 16),
 (964, 17),
 (965, 6),
 (966, 24),
 (967, 18),
 (968, 14),
 (969, 16),
 (970, 26),
 (971, 18),
 (972, 22),
 (973, 31),
 (974, 6),
 (975, 16),
 (976, 23),
 (977, 12),
 (978, 9),
 (979, 30),
 (980, 16),
 (981, 21),
 (982, 23),
 (983, 9),
 (984, 9),
 (985, 22),
 (986, 18),
 (987, 16),
 (988, 15),
 (989, 25),
 (990, 8),
 (991, 16),
 (992, 14),
 (993, 20),
 (994, 13),
 (995, 23),
 (996, 7),
 (997, 6),
 (998, 9),
 (999, 17),
 (1000, 31)]

Para melhorar a apresentação, criamos um dataframe para manipular os dados resultantes da pesquisa.

In [14]:
myFrames = pd.read_sql_query('Select * from film_customer;', con)
index = myFrames.index

In [15]:
for i in index:
    dado = str(myFrames.iloc[i,1])
    title = pd.read_sql_query('select title from film where film_id = ' + str(df.at[i,'film_id']) + ';', con)
    title = title.values[0]
    print("O filme " + title + " foi alugado por " + dado + " clientes.")

['O filme ACADEMY DINOSAUR foi alugado por 23 clientes.']
['O filme ACE GOLDFINGER foi alugado por 7 clientes.']
['O filme ADAPTATION HOLES foi alugado por 12 clientes.']
['O filme AFFAIR PREJUDICE foi alugado por 23 clientes.']
['O filme AFRICAN EGG foi alugado por 12 clientes.']
['O filme AGENT TRUMAN foi alugado por 21 clientes.']
['O filme AIRPLANE SIERRA foi alugado por 15 clientes.']
['O filme AIRPORT POLLOCK foi alugado por 18 clientes.']
['O filme ALABAMA DEVIL foi alugado por 12 clientes.']
['O filme ALADDIN CALENDAR foi alugado por 23 clientes.']
['O filme ALAMO VIDEOTAPE foi alugado por 24 clientes.']
['O filme ALASKA PHANTOM foi alugado por 26 clientes.']
['O filme ALI FOREVER foi alugado por 9 clientes.']
['O filme ALIEN CENTER foi alugado por 22 clientes.']
['O filme ALLEY EVOLUTION foi alugado por 14 clientes.']
['O filme ALONE TRIP foi alugado por 18 clientes.']
['O filme ALTER VICTORY foi alugado por 22 clientes.']
['O filme AMADEUS HOLY foi alugado por 21 clientes.']
['O filme AMELIE HELLFIGHTERS foi alugado por 10 clientes.']
['O filme AMERICAN CIRCUS foi alugado por 22 clientes.']
['O filme AMISTAD MIDSUMMER foi alugado por 21 clientes.']
['O filme ANACONDA CONFESSIONS foi alugado por 21 clientes.']
['O filme ANALYZE HOOSIERS foi alugado por 14 clientes.']
['O filme ANGELS LIFE foi alugado por 22 clientes.']
['O filme ANNIE IDENTITY foi alugado por 22 clientes.']
['O filme ANONYMOUS HUMAN foi alugado por 13 clientes.']
['O filme ANTHEM LUKE foi alugado por 15 clientes.']
['O filme ANTITRUST TOMATOES foi alugado por 10 clientes.']
['O filme ANYTHING SAVANNAH foi alugado por 9 clientes.']
['O filme APACHE DIVINE foi alugado por 31 clientes.']
['O filme APOCALYPSE FLAMINGOS foi alugado por 6 clientes.']
['O filme ARABIA DOGMA foi alugado por 13 clientes.']
['O filme ARACHNOPHOBIA ROLLERCOASTER foi alugado por 24 clientes.']
['O filme ARIZONA BANG foi alugado por 21 clientes.']
['O filme ARMAGEDDON LOST foi alugado por 21 clientes.']
['O filme ARMY FLINTSTONES foi alugado por 16 clientes.']
['O filme ARTIST COLDBLOODED foi alugado por 16 clientes.']
['O filme ATLANTIS CAUSE foi alugado por 24 clientes.']
['O filme ATTACKS HATE foi alugado por 16 clientes.']
['O filme ATTRACTION NEWTON foi alugado por 24 clientes.']
['O filme AUTUMN CROW foi alugado por 11 clientes.']
['O filme BABY HALL foi alugado por 8 clientes.']
['O filme BACKLASH UNDEFEATED foi alugado por 19 clientes.']
['O filme BADMAN DAWN foi alugado por 21 clientes.']
['O filme BAKED CLEOPATRA foi alugado por 16 clientes.']
['O filme BALLOON HOMEWARD foi alugado por 23 clientes.']
['O filme BALLROOM MOCKINGBIRD foi alugado por 8 clientes.']
['O filme BANG KWAI foi alugado por 7 clientes.']
['O filme BANGER PINOCCHIO foi alugado por 22 clientes.']
['O filme BARBARELLA STREETCAR foi alugado por 25 clientes.']
['O filme BAREFOOT MANCHURIAN foi alugado por 18 clientes.']
['O filme BASIC EASY foi alugado por 21 clientes.']
['O filme BEACH HEARTBREAKERS foi alugado por 17 clientes.']
['O filme BEAR GRACELAND foi alugado por 22 clientes.']
['O filme BEAST HUNCHBACK foi alugado por 11 clientes.']
['O filme BEAUTY GREASE foi alugado por 22 clientes.']
['O filme BED HIGHBALL foi alugado por 6 clientes.']
['O filme BEDAZZLED MARRIED foi alugado por 13 clientes.']
['O filme BEETHOVEN EXORCIST foi alugado por 11 clientes.']
['O filme BEHAVIOR RUNAWAY foi alugado por 13 clientes.']
['O filme BENEATH RUSH foi alugado por 10 clientes.']
['O filme BERETS AGENT foi alugado por 21 clientes.']
['O filme BETRAYED REAR foi alugado por 15 clientes.']
['O filme BEVERLY OUTLAW foi alugado por 21 clientes.']
['O filme BIKINI BORROWERS foi alugado por 17 clientes.']
['O filme BILKO ANONYMOUS foi alugado por 13 clientes.']
['O filme BILL OTHERS foi alugado por 19 clientes.']
['O filme BINGO TALENTED foi alugado por 29 clientes.']
['O filme BIRCH ANTITRUST foi alugado por 11 clientes.']
['O filme BIRD INDEPENDENCE foi alugado por 11 clientes.']
['O filme BIRDCAGE CASPER foi alugado por 9 clientes.']
['O filme BIRDS PERDITION foi alugado por 18 clientes.']
['O filme BLACKOUT PRIVATE foi alugado por 27 clientes.']
['O filme BLADE POLISH foi alugado por 22 clientes.']
['O filme BLANKET BEVERLY foi alugado por 12 clientes.']
['O filme BLINDNESS GUN foi alugado por 14 clientes.']
['O filme BLOOD ARGONAUTS foi alugado por 10 clientes.']
['O filme BLUES INSTINCT foi alugado por 21 clientes.']
['O filme BOILED DARES foi alugado por 15 clientes.']
['O filme BONNIE HOLOCAUST foi alugado por 16 clientes.']
['O filme BOOGIE AMELIE foi alugado por 29 clientes.']
['O filme BORN SPINAL foi alugado por 12 clientes.']
['O filme BORROWERS BEDAZZLED foi alugado por 22 clientes.']
['O filme BOULEVARD MOB foi alugado por 18 clientes.']
['O filme BOUND CHEAPER foi alugado por 24 clientes.']
['O filme BOWFINGER GABLES foi alugado por 11 clientes.']
['O filme BRANNIGAN SUNRISE foi alugado por 12 clientes.']
['O filme BRAVEHEART HUMAN foi alugado por 5 clientes.']
['O filme BREAKFAST GOLDFINGER foi alugado por 17 clientes.']
['O filme BREAKING HOME foi alugado por 13 clientes.']
['O filme BRIDE INTRIGUE foi alugado por 19 clientes.']
['O filme BRIGHT ENCOUNTERS foi alugado por 13 clientes.']
['O filme BRINGING HYSTERICAL foi alugado por 20 clientes.']
['O filme BROOKLYN DESERT foi alugado por 21 clientes.']
['O filme BROTHERHOOD BLANKET foi alugado por 26 clientes.']
['O filme BUBBLE GROSSE foi alugado por 6 clientes.']
['O filme BUCKET BROTHERHOOD foi alugado por 34 clientes.']
['O filme BUGSY SONG foi alugado por 11 clientes.']
['O filme BULL SHAWSHANK foi alugado por 16 clientes.']
['O filme BULWORTH COMMANDMENTS foi alugado por 7 clientes.']
['O filme BUNCH MINDS foi alugado por 5 clientes.']
['O filme BUTTERFLY CHOCOLAT foi alugado por 30 clientes.']
['O filme CABIN FLASH foi alugado por 15 clientes.']
['O filme CADDYSHACK JEDI foi alugado por 16 clientes.']
['O filme CALENDAR GUNFIGHT foi alugado por 21 clientes.']
['O filme CALIFORNIA BIRDS foi alugado por 12 clientes.']
['O filme CAMELOT VACATION foi alugado por 27 clientes.']
['O filme CAMPUS REMEMBER foi alugado por 19 clientes.']
['O filme CANDIDATE PERDITION foi alugado por 18 clientes.']
['O filme CANDLES GRAPES foi alugado por 23 clientes.']
['O filme CANYON STOCK foi alugado por 19 clientes.']
['O filme CAPER MOTIONS foi alugado por 24 clientes.']
['O filme CARIBBEAN LIBERTY foi alugado por 9 clientes.']
['O filme CAROL TEXAS foi alugado por 18 clientes.']
['O filme CARRIE BUNCH foi alugado por 23 clientes.']
['O filme CASABLANCA SUPER foi alugado por 16 clientes.']
['O filme CASPER DRAGONFLY foi alugado por 8 clientes.']
['O filme CASSIDY WYOMING foi alugado por 6 clientes.']
['O filme CASUALTIES ENCINO foi alugado por 9 clientes.']
['O filme CAT CONEHEADS foi alugado por 30 clientes.']
['O filme CAUSE DATE foi alugado por 21 clientes.']
['O filme CELEBRITY HORN foi alugado por 24 clientes.']
['O filme CENTER DINOSAUR foi alugado por 24 clientes.']
['O filme CHAINSAW UPTOWN foi alugado por 21 clientes.']
['O filme CHAMBER ITALIAN foi alugado por 13 clientes.']
['O filme CHAMPION FLATLINERS foi alugado por 13 clientes.']
['O filme CHANCE RESURRECTION foi alugado por 27 clientes.']
['O filme CHAPLIN LICENSE foi alugado por 8 clientes.']
['O filme CHARADE DUFFEL foi alugado por 15 clientes.']
['O filme CHARIOTS CONSPIRACY foi alugado por 21 clientes.']
['O filme CHASING FIGHT foi alugado por 20 clientes.']
['O filme CHEAPER CLYDE foi alugado por 20 clientes.']
['O filme CHICAGO NORTH foi alugado por 16 clientes.']
['O filme CHICKEN HELLFIGHTERS foi alugado por 22 clientes.']
['O filme CHILL LUCK foi alugado por 22 clientes.']
['O filme CHISUM BEHAVIOR foi alugado por 13 clientes.']
['O filme CHITTY LOCK foi alugado por 8 clientes.']
['O filme CHOCOLAT HARRY foi alugado por 20 clientes.']
['O filme CHRISTMAS MOONSHINE foi alugado por 21 clientes.']
['O filme CIDER DESIRE foi alugado por 19 clientes.']
['O filme CINCINATTI WHISPERER foi alugado por 13 clientes.']
['O filme CIRCUS YOUTH foi alugado por 15 clientes.']
['O filme CITIZEN SHREK foi alugado por 13 clientes.']
['O filme CLASH FREDDY foi alugado por 25 clientes.']
['O filme CLEOPATRA DEVIL foi alugado por 18 clientes.']
['O filme CLERKS ANGELS foi alugado por 7 clientes.']
['O filme CLOCKWORK PARADISE foi alugado por 10 clientes.']
['O filme CLONES PINOCCHIO foi alugado por 19 clientes.']
['O filme CLOSER BANG foi alugado por 28 clientes.']
['O filme CLUB GRAFFITI foi alugado por 19 clientes.']
['O filme CLUE GRAIL foi alugado por 7 clientes.']
['O filme CLUELESS BUCKET foi alugado por 25 clientes.']
['O filme CLYDE THEORY foi alugado por 8 clientes.']
['O filme COAST RAINBOW foi alugado por 21 clientes.']
['O filme COLDBLOODED DARLING foi alugado por 16 clientes.']
['O filme COLOR PHILADELPHIA foi alugado por 24 clientes.']

['O filme COMA HEAD foi alugado por 26 clientes.']
['O filme COMANCHEROS ENEMY foi alugado por 6 clientes.']
['O filme COMFORTS RUSH foi alugado por 17 clientes.']
['O filme COMMAND DARLING foi alugado por 16 clientes.']
['O filme CONEHEADS SMOOCHY foi alugado por 25 clientes.']
['O filme CONFESSIONS MAGUIRE foi alugado por 14 clientes.']
['O filme CONFIDENTIAL INTERVIEW foi alugado por 29 clientes.']
['O filme CONFUSED CANDLES foi alugado por 17 clientes.']
['O filme CONGENIALITY QUEST foi alugado por 22 clientes.']
['O filme CONNECTICUT TRAMP foi alugado por 13 clientes.']
['O filme CONNECTION MICROCOSMOS foi alugado por 7 clientes.']
['O filme CONQUERER NUTS foi alugado por 16 clientes.']
['O filme CONSPIRACY SPIRIT foi alugado por 5 clientes.']
['O filme CONTACT ANONYMOUS foi alugado por 26 clientes.']
['O filme CONTROL ANTHEM foi alugado por 7 clientes.']
['O filme CONVERSATION DOWNHILL foi alugado por 17 clientes.']
['O filme CORE SUIT foi alugado por 18 clientes.']
['O filme COWBOY DOOM foi alugado por 7 clientes.']
['O filme CRAFT OUTFIELD foi alugado por 16 clientes.']
['O filme CRANES RESERVOIR foi alugado por 11 clientes.']
['O filme CRAZY HOME foi alugado por 9 clientes.']
['O filme CREATURES SHAKESPEARE foi alugado por 16 clientes.']
['O filme CREEPERS KANE foi alugado por 14 clientes.']
['O filme CROOKED FROGMEN foi alugado por 23 clientes.']
['O filme CROSSROADS CASUALTIES foi alugado por 21 clientes.']
['O filme CROW GREASE foi alugado por 12 clientes.']
['O filme CRUELTY UNFORGIVEN foi alugado por 7 clientes.']
['O filme CRUSADE HONEY foi alugado por 8 clientes.']
['O filme CUPBOARD SINNERS foi alugado por 23 clientes.']
['O filme CURTAIN VIDEOTAPE foi alugado por 27 clientes.']
['O filme CYCLONE FAMILY foi alugado por 15 clientes.']
['O filme DADDY PITTSBURGH foi alugado por 13 clientes.']
['O filme DAISY MENAGERIE foi alugado por 16 clientes.']
['O filme DALMATIONS SWEDEN foi alugado por 20 clientes.']
['O filme DANCES NONE foi alugado por 14 clientes.']
['O filme DANCING FEVER foi alugado por 27 clientes.']
['O filme DANGEROUS UPTOWN foi alugado por 12 clientes.']
['O filme DARES PLUTO foi alugado por 9 clientes.']
['O filme DARKNESS WAR foi alugado por 13 clientes.']
['O filme DARKO DORADO foi alugado por 11 clientes.']
['O filme DARLING BREAKING foi alugado por 9 clientes.']
['O filme DARN FORRESTER foi alugado por 18 clientes.']
['O filme DATE SPEED foi alugado por 13 clientes.']
['O filme DAUGHTER MADIGAN foi alugado por 9 clientes.']
['O filme DAWN POND foi alugado por 18 clientes.']
['O filme DAY UNFAITHFUL foi alugado por 14 clientes.']
['O filme DECEIVER BETRAYED foi alugado por 21 clientes.']
['O filme DEEP CRUSADE foi alugado por 14 clientes.']
['O filme DEER VIRGINIAN foi alugado por 29 clientes.']
['O filme DESERT POSEIDON foi alugado por 19 clientes.']
['O filme DESIRE ALIEN foi alugado por 8 clientes.']
['O filme DESPERATE TRAINSPOTTING foi alugado por 6 clientes.']
['O filme DESTINATION JERK foi alugado por 8 clientes.']
['O filme DESTINY SATURDAY foi alugado por 16 clientes.']
['O filme DETAILS PACKER foi alugado por 19 clientes.']
['O filme DETECTIVE VISION foi alugado por 27 clientes.']
['O filme DEVIL DESIRE foi alugado por 15 clientes.']
['O filme DIARY PANIC foi alugado por 9 clientes.']
['O filme DINOSAUR SECRETARY foi alugado por 20 clientes.']
['O filme DIRTY ACE foi alugado por 15 clientes.']
['O filme DISCIPLE MOTHER foi alugado por 19 clientes.']
['O filme DISTURBING SCARFACE foi alugado por 26 clientes.']
['O filme DIVIDE MONSTER foi alugado por 21 clientes.']
['O filme DIVINE RESURRECTION foi alugado por 15 clientes.']
['O filme DIVORCE SHINING foi alugado por 7 clientes.']
['O filme DOCTOR GRAIL foi alugado por 7 clientes.']
['O filme DOGMA FAMILY foi alugado por 30 clientes.']
['O filme DOLLS RAGE foi alugado por 9 clientes.']
['O filme DONNIE ALLEY foi alugado por 14 clientes.']
['O filme DOOM DANCING foi alugado por 21 clientes.']
['O filme DOORS PRESIDENT foi alugado por 19 clientes.']
['O filme DORADO NOTTING foi alugado por 27 clientes.']
['O filme DOUBLE WRATH foi alugado por 25 clientes.']
['O filme DOUBTFIRE LABYRINTH foi alugado por 10 clientes.']
['O filme DOWNHILL ENOUGH foi alugado por 25 clientes.']
['O filme DOZEN LION foi alugado por 7 clientes.']
['O filme DRACULA CRYSTAL foi alugado por 21 clientes.']
['O filme DRAGON SQUAD foi alugado por 11 clientes.']
['O filme DRAGONFLY STRANGERS foi alugado por 18 clientes.']
['O filme DREAM PICKUP foi alugado por 22 clientes.']
['O filme DRIFTER COMMANDMENTS foi alugado por 24 clientes.']
['O filme DRIVER ANNIE foi alugado por 18 clientes.']
['O filme DRIVING POLISH foi alugado por 21 clientes.']
['O filme DROP WATERFRONT foi alugado por 9 clientes.']
['O filme DRUMLINE CYCLONE foi alugado por 11 clientes.']
['O filme DRUMS DYNAMITE foi alugado por 13 clientes.']
['O filme DUCK RACER foi alugado por 6 clientes.']
['O filme DUDE BLINDNESS foi alugado por 16 clientes.']
['O filme DUFFEL APOCALYPSE foi alugado por 7 clientes.']
['O filme DUMBO LUST foi alugado por 6 clientes.']
['O filme DURHAM PANKY foi alugado por 26 clientes.']
['O filme DWARFS ALTER foi alugado por 9 clientes.']
['O filme DYING MAKER foi alugado por 17 clientes.']
['O filme DYNAMITE TARZAN foi alugado por 25 clientes.']
['O filme EAGLES PANKY foi alugado por 22 clientes.']
['O filme EARLY HOME foi alugado por 7 clientes.']
['O filme EARRING INSTINCT foi alugado por 19 clientes.']
['O filme EARTH VISION foi alugado por 23 clientes.']
['O filme EASY GLADIATOR foi alugado por 23 clientes.']
['O filme EDGE KISSING foi alugado por 15 clientes.']
['O filme EFFECT GLADIATOR foi alugado por 25 clientes.']
['O filme EGG IGBY foi alugado por 21 clientes.']
['O filme EGYPT TENENBAUMS foi alugado por 17 clientes.']
['O filme ELEMENT FREDDY foi alugado por 10 clientes.']
['O filme ELEPHANT TROJAN foi alugado por 14 clientes.']
['O filme ELF MURDER foi alugado por 7 clientes.']
['O filme ELIZABETH SHANE foi alugado por 10 clientes.']
['O filme EMPIRE MALKOVICH foi alugado por 21 clientes.']
['O filme ENCINO ELF foi alugado por 19 clientes.']
['O filme ENCOUNTERS CURTAIN foi alugado por 19 clientes.']
['O filme ENDING CROWDS foi alugado por 11 clientes.']
['O filme ENEMY ODDS foi alugado por 29 clientes.']
['O filme ENGLISH BULWORTH foi alugado por 30 clientes.']
['O filme ENOUGH RAGING foi alugado por 18 clientes.']
['O filme ENTRAPMENT SATISFACTION foi alugado por 15 clientes.']
['O filme ESCAPE METROPOLIS foi alugado por 25 clientes.']
['O filme EVE RESURRECTION foi alugado por 7 clientes.']
['O filme EVERYONE CRAFT foi alugado por 13 clientes.']
['O filme EVOLUTION ALTER foi alugado por 12 clientes.']
['O filme EXCITEMENT EVE foi alugado por 21 clientes.']
['O filme EXORCIST STING foi alugado por 13 clientes.']
['O filme EXPECATIONS NATURAL foi alugado por 18 clientes.']
['O filme EXPENDABLE STALLION foi alugado por 28 clientes.']
['O filme EXPRESS LONELY foi alugado por 13 clientes.']
['O filme EXTRAORDINARY CONQUERER foi alugado por 6 clientes.']
['O filme EYES DRIVING foi alugado por 19 clientes.']
['O filme FACTORY DRAGON foi alugado por 17 clientes.']
['O filme FALCON VOLUME foi alugado por 22 clientes.']
['O filme FAMILY SWEET foi alugado por 29 clientes.']
['O filme FANTASIA PARK foi alugado por 19 clientes.']
['O filme FANTASY TROOPERS foi alugado por 26 clientes.']
['O filme FARGO GANDHI foi alugado por 24 clientes.']
['O filme FATAL HAUNTED foi alugado por 28 clientes.']
['O filme FEATHERS METAL foi alugado por 11 clientes.']
['O filme FELLOWSHIP AUTUMN foi alugado por 26 clientes.']
['O filme FERRIS MOTHER foi alugado por 17 clientes.']
['O filme FEUD FROGMEN foi alugado por 25 clientes.']
['O filme FEVER EMPIRE foi alugado por 5 clientes.']
['O filme FICTION CHRISTMAS foi alugado por 19 clientes.']
['O filme FIDDLER LOST foi alugado por 10 clientes.']
['O filme FIDELITY DEVIL foi alugado por 21 clientes.']
['O filme FIGHT JAWBREAKER foi alugado por 22 clientes.']
['O filme FINDING ANACONDA foi alugado por 12 clientes.']
['O filme FIRE WOLVES foi alugado por 7 clientes.']
['O filme FIREBALL PHILADELPHIA foi alugado por 21 clientes.']
['O filme FISH OPUS foi alugado por 25 clientes.']
['O filme FLAMINGOS CONNECTICUT foi alugado por 23 clientes.']
['O filme FLASH WARS foi alugado por 13 clientes.']

['O filme FLATLINERS KILLER foi alugado por 22 clientes.']
['O filme FLIGHT LIES foi alugado por 12 clientes.']
['O filme FLINTSTONES HAPPINESS foi alugado por 17 clientes.']
['O filme FLYING HOOK foi alugado por 20 clientes.']
['O filme FOOL MOCKINGBIRD foi alugado por 23 clientes.']
['O filme FOREVER CANDIDATE foi alugado por 13 clientes.']
['O filme FORREST SONS foi alugado por 18 clientes.']
['O filme FORRESTER COMANCHEROS foi alugado por 27 clientes.']
['O filme FORWARD TEMPLE foi alugado por 32 clientes.']
['O filme FREAKY POCUS foi alugado por 17 clientes.']
['O filme FREDDY STORM foi alugado por 23 clientes.']
['O filme FREEDOM CLEOPATRA foi alugado por 5 clientes.']
['O filme FRENCH HOLIDAY foi alugado por 17 clientes.']
['O filme FRIDA SLIPPER foi alugado por 11 clientes.']
['O filme FRISCO FORREST foi alugado por 9 clientes.']
['O filme FROGMEN BREAKING foi alugado por 10 clientes.']
['O filme FRONTIER CABIN foi alugado por 6 clientes.']
['O filme FROST HEAD foi alugado por 30 clientes.']
['O filme FUGITIVE MAGUIRE foi alugado por 11 clientes.']
['O filme FULL FLATLINERS foi alugado por 5 clientes.']
['O filme FURY MURDER foi alugado por 19 clientes.']
['O filme GABLES METROPOLIS foi alugado por 19 clientes.']
['O filme GALAXY SWEETHEARTS foi alugado por 18 clientes.']
['O filme GAMES BOWFINGER foi alugado por 14 clientes.']
['O filme GANDHI KWAI foi alugado por 17 clientes.']
['O filme GANGS PRIDE foi alugado por 27 clientes.']
['O filme GARDEN ISLAND foi alugado por 20 clientes.']
['O filme GASLIGHT CRUSADE foi alugado por 16 clientes.']
['O filme GATHERING CALENDAR foi alugado por 11 clientes.']
['O filme GENTLEMEN STAGE foi alugado por 23 clientes.']
['O filme GHOST GROUNDHOG foi alugado por 21 clientes.']
['O filme GHOSTBUSTERS ELF foi alugado por 9 clientes.']
['O filme GIANT TROOPERS foi alugado por 28 clientes.']
['O filme GILBERT PELICAN foi alugado por 9 clientes.']
['O filme GILMORE BOILED foi alugado por 28 clientes.']
['O filme GLASS DYING foi alugado por 14 clientes.']
['O filme GLEAMING JAWBREAKER foi alugado por 29 clientes.']
['O filme GLORY TRACY foi alugado por 5 clientes.']
['O filme GO PURPLE foi alugado por 20 clientes.']
['O filme GODFATHER DIARY foi alugado por 8 clientes.']
['O filme GOLD RIVER foi alugado por 14 clientes.']
['O filme GOLDFINGER SENSIBILITY foi alugado por 24 clientes.']
['O filme GOLDMINE TYCOON foi alugado por 27 clientes.']
['O filme GONE TROUBLE foi alugado por 10 clientes.']
['O filme GOODFELLAS SALUTE foi alugado por 31 clientes.']
['O filme GORGEOUS BINGO foi alugado por 19 clientes.']
['O filme GOSFORD DONNIE foi alugado por 8 clientes.']
['O filme GRACELAND DYNAMITE foi alugado por 6 clientes.']
['O filme GRADUATE LORD foi alugado por 16 clientes.']
['O filme GRAFFITI LOVE foi alugado por 30 clientes.']
['O filme GRAIL FRANKENSTEIN foi alugado por 10 clientes.']
['O filme GRAPES FURY foi alugado por 22 clientes.']
['O filme GREASE YOUTH foi alugado por 21 clientes.']
['O filme GREATEST NORTH foi alugado por 29 clientes.']
['O filme GREEDY ROOTS foi alugado por 14 clientes.']
['O filme GREEK EVERYONE foi alugado por 17 clientes.']
['O filme GRINCH MASSAGE foi alugado por 14 clientes.']
['O filme GRIT CLOCKWORK foi alugado por 32 clientes.']
['O filme GROOVE FICTION foi alugado por 18 clientes.']
['O filme GROSSE WONDERFUL foi alugado por 8 clientes.']
['O filme GROUNDHOG UNCUT foi alugado por 18 clientes.']
['O filme GUN BONNIE foi alugado por 25 clientes.']
['O filme GUNFIGHT MOON foi alugado por 24 clientes.']
['O filme GUNFIGHTER MUSSOLINI foi alugado por 12 clientes.']
['O filme GUYS FALCON foi alugado por 9 clientes.']
['O filme HALF OUTFIELD foi alugado por 26 clientes.']
['O filme HALL CASSIDY foi alugado por 16 clientes.']
['O filme HALLOWEEN NUTS foi alugado por 10 clientes.']
['O filme HAMLET WISDOM foi alugado por 14 clientes.']
['O filme HANDICAP BOONDOCK foi alugado por 28 clientes.']
['O filme HANGING DEEP foi alugado por 19 clientes.']
['O filme HANKY OCTOBER foi alugado por 26 clientes.']
['O filme HANOVER GALAXY foi alugado por 17 clientes.']
['O filme HAPPINESS UNITED foi alugado por 6 clientes.']
['O filme HARDLY ROBBERS foi alugado por 4 clientes.']
['O filme HAROLD FRENCH foi alugado por 8 clientes.']
['O filme HARPER DYING foi alugado por 20 clientes.']
['O filme HARRY IDAHO foi alugado por 30 clientes.']
['O filme HAUNTED ANTITRUST foi alugado por 6 clientes.']
['O filme HAUNTING PIANIST foi alugado por 22 clientes.']
['O filme HAWK CHILL foi alugado por 7 clientes.']
['O filme HEAD STRANGER foi alugado por 22 clientes.']
['O filme HEARTBREAKERS BRIGHT foi alugado por 20 clientes.']
['O filme HEAVEN FREEDOM foi alugado por 18 clientes.']
['O filme HEAVENLY GUN foi alugado por 7 clientes.']
['O filme HEAVYWEIGHTS BEAST foi alugado por 23 clientes.']
['O filme HEDWIG ALTER foi alugado por 12 clientes.']
['O filme HELLFIGHTERS SIERRA foi alugado por 20 clientes.']
['O filme HIGH ENCINO foi alugado por 22 clientes.']
['O filme HIGHBALL POTTER foi alugado por 21 clientes.']
['O filme HILLS NEIGHBORS foi alugado por 25 clientes.']
['O filme HOBBIT ALIEN foi alugado por 31 clientes.']
['O filme HOLES BRANNIGAN foi alugado por 15 clientes.']
['O filme HOLIDAY GAMES foi alugado por 15 clientes.']
['O filme HOLLOW JEOPARDY foi alugado por 10 clientes.']
['O filme HOLLYWOOD ANONYMOUS foi alugado por 13 clientes.']
['O filme HOLOCAUST HIGHBALL foi alugado por 17 clientes.']
['O filme HOLY TADPOLE foi alugado por 9 clientes.']
['O filme HOME PITY foi alugado por 14 clientes.']
['O filme HOMEWARD CIDER foi alugado por 16 clientes.']
['O filme HOMICIDE PEACH foi alugado por 22 clientes.']
['O filme HONEY TIES foi alugado por 19 clientes.']
['O filme HOOK CHARIOTS foi alugado por 13 clientes.']
['O filme HOOSIERS BIRDCAGE foi alugado por 8 clientes.']
['O filme HOPE TOOTSIE foi alugado por 18 clientes.']
['O filme HORN WORKING foi alugado por 24 clientes.']
['O filme HORROR REIGN foi alugado por 27 clientes.']
['O filme HOTEL HAPPINESS foi alugado por 9 clientes.']
['O filme HOURS RAGE foi alugado por 19 clientes.']
['O filme HOUSE DYNAMITE foi alugado por 23 clientes.']
['O filme HUMAN GRAFFITI foi alugado por 15 clientes.']
['O filme HUNCHBACK IMPOSSIBLE foi alugado por 20 clientes.']
['O filme HUNGER ROOF foi alugado por 13 clientes.']
['O filme HUNTER ALTER foi alugado por 5 clientes.']
['O filme HUNTING MUSKETEERS foi alugado por 15 clientes.']
['O filme HURRICANE AFFAIR foi alugado por 24 clientes.']
['O filme HUSTLER PARTY foi alugado por 22 clientes.']
['O filme HYDE DOCTOR foi alugado por 26 clientes.']
['O filme HYSTERICAL GRAIL foi alugado por 15 clientes.']
['O filme ICE CROSSING foi alugado por 24 clientes.']
['O filme IDAHO LOVE foi alugado por 17 clientes.']
['O filme IDENTITY LOVER foi alugado por 13 clientes.']
['O filme IDOLS SNATCHERS foi alugado por 30 clientes.']
['O filme IGBY MAKER foi alugado por 19 clientes.']
['O filme ILLUSION AMELIE foi alugado por 15 clientes.']
['O filme IMAGE PRINCESS foi alugado por 14 clientes.']
['O filme IMPACT ALADDIN foi alugado por 9 clientes.']
['O filme IMPOSSIBLE PREJUDICE foi alugado por 14 clientes.']
['O filme INCH JET foi alugado por 18 clientes.']
['O filme INDEPENDENCE HOTEL foi alugado por 19 clientes.']
['O filme INDIAN LOVE foi alugado por 16 clientes.']
['O filme INFORMER DOUBLE foi alugado por 5 clientes.']
['O filme INNOCENT USUAL foi alugado por 26 clientes.']
['O filme INSECTS STONE foi alugado por 18 clientes.']
['O filme INSIDER ARIZONA foi alugado por 20 clientes.']
['O filme INSTINCT AIRPORT foi alugado por 18 clientes.']
['O filme INTENTIONS EMPIRE foi alugado por 17 clientes.']
['O filme INTERVIEW LIAISONS foi alugado por 20 clientes.']
['O filme INTOLERABLE INTENTIONS foi alugado por 9 clientes.']
['O filme INTRIGUE WORST foi alugado por 20 clientes.']
['O filme INVASION CYCLONE foi alugado por 27 clientes.']
['O filme IRON MOON foi alugado por 11 clientes.']
['O filme ISHTAR ROCKETEER foi alugado por 7 clientes.']
['O filme ISLAND EXORCIST foi alugado por 26 clientes.']
['O filme ITALIAN AFRICAN foi alugado por 6 clientes.']
['O filme JACKET FRISCO foi alugado por 18 clientes.']
['O filme JADE BUNCH foi alugado por 18 clientes.']
['O filme JAPANESE RUN foi alugado por 6 clientes.']
['O filme JASON TRAP foi alugado por 24 clientes.']
['O filme JAWBREAKER BROOKLYN foi alugado por 10 clientes.']
['O filme JAWS HARRY foi alugado por 14 clientes.']
['O filme JEDI BENEATH foi alugado por 19 clientes.']
['O filme JEEPERS WEDDING foi alugado por 16 clientes.']
['O filme JEKYLL FROGMEN foi alugado por 17 clientes.']
['O filme JEOPARDY ENCINO foi alugado por 10 clientes.']

['O filme JERICHO MULAN foi alugado por 17 clientes.']
['O filme JERK PAYCHECK foi alugado por 20 clientes.']
['O filme JERSEY SASSY foi alugado por 6 clientes.']
['O filme JET NEIGHBORS foi alugado por 20 clientes.']
['O filme JINGLE SAGEBRUSH foi alugado por 13 clientes.']
['O filme JOON NORTHWEST foi alugado por 17 clientes.']
['O filme JUGGLER HARDLY foi alugado por 32 clientes.']
['O filme JUMANJI BLADE foi alugado por 8 clientes.']
['O filme JUMPING WRATH foi alugado por 24 clientes.']
['O filme JUNGLE CLOSER foi alugado por 9 clientes.']
['O filme KANE EXORCIST foi alugado por 14 clientes.']
['O filme KARATE MOON foi alugado por 23 clientes.']
['O filme KICK SAVANNAH foi alugado por 20 clientes.']
['O filme KILLER INNOCENT foi alugado por 6 clientes.']
['O filme KING EVOLUTION foi alugado por 9 clientes.']
['O filme KISS GLORY foi alugado por 22 clientes.']
['O filme KISSING DOLLS foi alugado por 20 clientes.']
['O filme KNOCK WARLOCK foi alugado por 24 clientes.']
['O filme KRAMER CHOCOLATE foi alugado por 9 clientes.']
['O filme KWAI HOMEWARD foi alugado por 23 clientes.']
['O filme LABYRINTH LEAGUE foi alugado por 15 clientes.']
['O filme LADY STAGE foi alugado por 17 clientes.']
['O filme LADYBUGS ARMAGEDDON foi alugado por 6 clientes.']
['O filme LAMBS CINCINATTI foi alugado por 10 clientes.']
['O filme LANGUAGE COWBOY foi alugado por 11 clientes.']
['O filme LAWLESS VISION foi alugado por 17 clientes.']
['O filme LAWRENCE LOVE foi alugado por 13 clientes.']
['O filme LEAGUE HELLFIGHTERS foi alugado por 17 clientes.']
['O filme LEATHERNECKS DWARFS foi alugado por 7 clientes.']
['O filme LEBOWSKI SOLDIERS foi alugado por 21 clientes.']
['O filme LEGALLY SECRETARY foi alugado por 9 clientes.']
['O filme LEGEND JEDI foi alugado por 9 clientes.']
['O filme LESSON CLEOPATRA foi alugado por 7 clientes.']
['O filme LIAISONS SWEET foi alugado por 22 clientes.']
['O filme LIBERTY MAGNIFICENT foi alugado por 12 clientes.']
['O filme LICENSE WEEKEND foi alugado por 7 clientes.']
['O filme LIES TREATMENT foi alugado por 27 clientes.']
['O filme LIFE TWISTED foi alugado por 10 clientes.']
['O filme LIGHTS DEER foi alugado por 8 clientes.']
['O filme LION UNCUT foi alugado por 18 clientes.']
['O filme LOATHING LEGALLY foi alugado por 27 clientes.']
['O filme LOCK REAR foi alugado por 16 clientes.']
['O filme LOLA AGENT foi alugado por 24 clientes.']
['O filme LOLITA WORLD foi alugado por 10 clientes.']
['O filme LONELY ELEPHANT foi alugado por 15 clientes.']
['O filme LORD ARIZONA foi alugado por 11 clientes.']
['O filme LOSE INCH foi alugado por 27 clientes.']
['O filme LOSER HUSTLER foi alugado por 15 clientes.']
['O filme LOST BIRD foi alugado por 12 clientes.']
['O filme LOUISIANA HARRY foi alugado por 17 clientes.']
['O filme LOVE SUICIDES foi alugado por 20 clientes.']
['O filme LOVELY JINGLE foi alugado por 14 clientes.']
['O filme LOVER TRUMAN foi alugado por 10 clientes.']
['O filme LOVERBOY ATTACKS foi alugado por 12 clientes.']
['O filme LUCK OPUS foi alugado por 10 clientes.']
['O filme LUCKY FLYING foi alugado por 13 clientes.']
['O filme LUKE MUMMY foi alugado por 7 clientes.']
['O filme LUST LOCK foi alugado por 15 clientes.']
['O filme MADIGAN DORADO foi alugado por 10 clientes.']
['O filme MADISON TRAP foi alugado por 15 clientes.']
['O filme MADNESS ATTACKS foi alugado por 25 clientes.']
['O filme MADRE GABLES foi alugado por 14 clientes.']
['O filme MAGIC MALLRATS foi alugado por 7 clientes.']
['O filme MAGNIFICENT CHITTY foi alugado por 8 clientes.']
['O filme MAGNOLIA FORRESTER foi alugado por 11 clientes.']
['O filme MAGUIRE APACHE foi alugado por 9 clientes.']
['O filme MAIDEN HOME foi alugado por 24 clientes.']
['O filme MAJESTIC FLOATS foi alugado por 17 clientes.']
['O filme MAKER GABLES foi alugado por 10 clientes.']
['O filme MALKOVICH PET foi alugado por 26 clientes.']
['O filme MALLRATS UNITED foi alugado por 25 clientes.']
['O filme MALTESE HOPE foi alugado por 22 clientes.']
['O filme MANCHURIAN CURTAIN foi alugado por 15 clientes.']
['O filme MANNEQUIN WORST foi alugado por 5 clientes.']
['O filme MARRIED GO foi alugado por 30 clientes.']
['O filme MARS ROMAN foi alugado por 19 clientes.']
['O filme MASK PEACH foi alugado por 17 clientes.']
['O filme MASKED BUBBLE foi alugado por 20 clientes.']
['O filme MASSACRE USUAL foi alugado por 30 clientes.']
['O filme MASSAGE IMAGE foi alugado por 12 clientes.']
['O filme MATRIX SNOWMAN foi alugado por 9 clientes.']
['O filme MAUDE MOD foi alugado por 8 clientes.']
['O filme MEET CHOCOLATE foi alugado por 12 clientes.']
['O filme MEMENTO ZOOLANDER foi alugado por 13 clientes.']
['O filme MENAGERIE RUSHMORE foi alugado por 7 clientes.']
['O filme MERMAID INSECTS foi alugado por 16 clientes.']
['O filme METAL ARMAGEDDON foi alugado por 25 clientes.']
['O filme METROPOLIS COMA foi alugado por 26 clientes.']
['O filme MICROCOSMOS PARADISE foi alugado por 13 clientes.']
['O filme MIDNIGHT WESTWARD foi alugado por 17 clientes.']
['O filme MIDSUMMER GROUNDHOG foi alugado por 22 clientes.']
['O filme MIGHTY LUCK foi alugado por 12 clientes.']
['O filme MILE MULAN foi alugado por 13 clientes.']
['O filme MILLION ACE foi alugado por 20 clientes.']
['O filme MINDS TRUMAN foi alugado por 20 clientes.']
['O filme MINE TITANS foi alugado por 19 clientes.']
['O filme MINORITY KISS foi alugado por 12 clientes.']
['O filme MIRACLE VIRTUAL foi alugado por 9 clientes.']
['O filme MISSION ZOOLANDER foi alugado por 18 clientes.']
['O filme MIXED DOORS foi alugado por 4 clientes.']
['O filme MOB DUFFEL foi alugado por 12 clientes.']
['O filme MOCKINGBIRD HOLLYWOOD foi alugado por 24 clientes.']
['O filme MOD SECRETARY foi alugado por 11 clientes.']
['O filme MODEL FISH foi alugado por 15 clientes.']
['O filme MODERN DORADO foi alugado por 15 clientes.']
['O filme MONEY HAROLD foi alugado por 20 clientes.']
['O filme MONSOON CAUSE foi alugado por 9 clientes.']
['O filme MONSTER SPARTACUS foi alugado por 15 clientes.']
['O filme MONTEREY LABYRINTH foi alugado por 13 clientes.']
['O filme MONTEZUMA COMMAND foi alugado por 9 clientes.']
['O filme MOON BUNCH foi alugado por 29 clientes.']
['O filme MOONSHINE CABIN foi alugado por 21 clientes.']
['O filme MOONWALKER FOOL foi alugado por 13 clientes.']
['O filme MOSQUITO ARMAGEDDON foi alugado por 15 clientes.']
['O filme MOTHER OLEANDER foi alugado por 14 clientes.']
['O filme MOTIONS DETAILS foi alugado por 16 clientes.']
['O filme MOULIN WAKE foi alugado por 16 clientes.']
['O filme MOURNING PURPLE foi alugado por 21 clientes.']
['O filme MOVIE SHAKESPEARE foi alugado por 27 clientes.']
['O filme MULAN MOON foi alugado por 13 clientes.']
['O filme MULHOLLAND BEAST foi alugado por 7 clientes.']
['O filme MUMMY CREATURES foi alugado por 16 clientes.']
['O filme MURDER ANTITRUST foi alugado por 23 clientes.']
['O filme MUSCLE BRIGHT foi alugado por 30 clientes.']
['O filme MUSIC BOONDOCK foi alugado por 19 clientes.']
['O filme MUSKETEERS WAIT foi alugado por 17 clientes.']
['O filme MUSSOLINI SPOILERS foi alugado por 5 clientes.']
['O filme MYSTIC TRUMAN foi alugado por 10 clientes.']
['O filme NAME DETECTIVE foi alugado por 23 clientes.']
['O filme NASH CHOCOLAT foi alugado por 15 clientes.']
['O filme NATIONAL STORY foi alugado por 19 clientes.']
['O filme NATURAL STOCK foi alugado por 13 clientes.']
['O filme NECKLACE OUTBREAK foi alugado por 15 clientes.']
['O filme NEIGHBORS CHARADE foi alugado por 19 clientes.']
['O filme NEMO CAMPUS foi alugado por 14 clientes.']
['O filme NETWORK PEAK foi alugado por 31 clientes.']
['O filme NEWSIES STORY foi alugado por 7 clientes.']
['O filme NEWTON LABYRINTH foi alugado por 17 clientes.']
['O filme NIGHTMARE CHILL foi alugado por 25 clientes.']
['O filme NONE SPIKING foi alugado por 27 clientes.']
['O filme NOON PAPI foi alugado por 17 clientes.']
['O filme NORTH TEQUILA foi alugado por 11 clientes.']
['O filme NORTHWEST POLISH foi alugado por 20 clientes.']
['O filme NOTORIOUS REUNION foi alugado por 14 clientes.']
['O filme NOTTING SPEAKEASY foi alugado por 10 clientes.']
['O filme NOVOCAINE FLIGHT foi alugado por 19 clientes.']
['O filme NUTS TIES foi alugado por 9 clientes.']
['O filme OCTOBER SUBMARINE foi alugado por 11 clientes.']
['O filme ODDS BOOGIE foi alugado por 15 clientes.']
['O filme OKLAHOMA JUMANJI foi alugado por 6 clientes.']
['O filme OLEANDER CLUE foi alugado por 10 clientes.']
['O filme OPEN AFRICAN foi alugado por 21 clientes.']
['O filme OPERATION OPERATION foi alugado por 27 clientes.']
['O filme OPPOSITE NECKLACE foi alugado por 13 clientes.']
['O filme OPUS ICE foi alugado por 11 clientes.']
['O filme ORANGE GRAPES foi alugado por 24 clientes.']
['O filme ORIENT CLOSER foi alugado por 17 clientes.']
['O filme OSCAR GOLD foi alugado por 25 clientes.']

['O filme OTHERS SOUP foi alugado por 23 clientes.']
['O filme OUTBREAK DIVINE foi alugado por 23 clientes.']
['O filme OUTFIELD MASSACRE foi alugado por 20 clientes.']
['O filme OUTLAW HANKY foi alugado por 14 clientes.']
['O filme OZ LIAISONS foi alugado por 24 clientes.']
['O filme PACIFIC AMISTAD foi alugado por 24 clientes.']
['O filme PACKER MADIGAN foi alugado por 22 clientes.']
['O filme PAJAMA JAWBREAKER foi alugado por 14 clientes.']
['O filme PANIC CLUB foi alugado por 7 clientes.']
['O filme PANKY SUBMARINE foi alugado por 15 clientes.']
['O filme PANTHER REDS foi alugado por 15 clientes.']
['O filme PAPI NECKLACE foi alugado por 8 clientes.']
['O filme PARADISE SABRINA foi alugado por 18 clientes.']
['O filme PARIS WEEKEND foi alugado por 14 clientes.']
['O filme PARK CITIZEN foi alugado por 8 clientes.']
['O filme PARTY KNOCK foi alugado por 13 clientes.']
['O filme PAST SUICIDES foi alugado por 13 clientes.']
['O filme PATHS CONTROL foi alugado por 10 clientes.']
['O filme PATIENT SISTER foi alugado por 19 clientes.']
['O filme PATRIOT ROMAN foi alugado por 16 clientes.']
['O filme PATTON INTERVIEW foi alugado por 23 clientes.']
['O filme PAYCHECK WAIT foi alugado por 16 clientes.']
['O filme PEACH INNOCENT foi alugado por 14 clientes.']
['O filme PEAK FOREVER foi alugado por 20 clientes.']
['O filme PELICAN COMFORTS foi alugado por 26 clientes.']
['O filme PERFECT GROOVE foi alugado por 17 clientes.']
['O filme PERSONAL LADYBUGS foi alugado por 14 clientes.']
['O filme PET HAUNTING foi alugado por 8 clientes.']
['O filme PHANTOM GLORY foi alugado por 6 clientes.']
['O filme PHILADELPHIA WIFE foi alugado por 23 clientes.']
['O filme PIANIST OUTFIELD foi alugado por 21 clientes.']
['O filme PICKUP DRIVING foi alugado por 16 clientes.']
['O filme PILOT HOOSIERS foi alugado por 16 clientes.']
['O filme PINOCCHIO SIMON foi alugado por 20 clientes.']
['O filme PIRATES ROXANNE foi alugado por 21 clientes.']
['O filme PITTSBURGH HUNCHBACK foi alugado por 12 clientes.']
['O filme PITY BOUND foi alugado por 26 clientes.']
['O filme PIZZA JUMANJI foi alugado por 7 clientes.']
['O filme PLATOON INSTINCT foi alugado por 9 clientes.']
['O filme PLUTO OLEANDER foi alugado por 16 clientes.']
['O filme POCUS PULP foi alugado por 26 clientes.']
['O filme POLISH BROOKLYN foi alugado por 18 clientes.']
['O filme POLLOCK DELIVERANCE foi alugado por 18 clientes.']
['O filme POND SEATTLE foi alugado por 19 clientes.']
['O filme POSEIDON FOREVER foi alugado por 17 clientes.']
['O filme POTLUCK MIXED foi alugado por 11 clientes.']
['O filme POTTER CONNECTICUT foi alugado por 17 clientes.']
['O filme PREJUDICE OLEANDER foi alugado por 20 clientes.']
['O filme PRESIDENT BANG foi alugado por 7 clientes.']
['O filme PRIDE ALAMO foi alugado por 16 clientes.']
['O filme PRIMARY GLASS foi alugado por 27 clientes.']
['O filme PRINCESS GIANT foi alugado por 27 clientes.']
['O filme PRIVATE DROP foi alugado por 5 clientes.']
['O filme PRIX UNDEFEATED foi alugado por 11 clientes.']
['O filme PULP BEVERLY foi alugado por 30 clientes.']
['O filme PUNK DIVORCE foi alugado por 8 clientes.']
['O filme PURE RUNNER foi alugado por 16 clientes.']
['O filme PURPLE MOVIE foi alugado por 13 clientes.']
['O filme QUEEN LUKE foi alugado por 22 clientes.']
['O filme QUEST MUSSOLINI foi alugado por 20 clientes.']
['O filme QUILLS BULL foi alugado por 16 clientes.']
['O filme RACER EGG foi alugado por 18 clientes.']
['O filme RAGE GAMES foi alugado por 19 clientes.']
['O filme RAGING AIRPLANE foi alugado por 13 clientes.']
['O filme RANDOM GO foi alugado por 9 clientes.']
['O filme RANGE MOONWALKER foi alugado por 27 clientes.']
['O filme REAP UNFAITHFUL foi alugado por 16 clientes.']
['O filme REAR TRADING foi alugado por 17 clientes.']
['O filme REBEL AIRPORT foi alugado por 8 clientes.']
['O filme RECORDS ZORRO foi alugado por 8 clientes.']
['O filme REDEMPTION COMFORTS foi alugado por 20 clientes.']
['O filme REDS POCUS foi alugado por 9 clientes.']
['O filme REEF SALUTE foi alugado por 11 clientes.']
['O filme REIGN GENTLEMEN foi alugado por 20 clientes.']
['O filme REMEMBER DIARY foi alugado por 18 clientes.']
['O filme REQUIEM TYCOON foi alugado por 19 clientes.']
['O filme RESERVOIR ADAPTATION foi alugado por 10 clientes.']
['O filme RESURRECTION SILVERADO foi alugado por 21 clientes.']
['O filme REUNION WITCHES foi alugado por 20 clientes.']
['O filme RIDER CADDYSHACK foi alugado por 11 clientes.']
['O filme RIDGEMONT SUBMARINE foi alugado por 32 clientes.']
['O filme RIGHT CRANES foi alugado por 10 clientes.']
['O filme RINGS HEARTBREAKERS foi alugado por 15 clientes.']
['O filme RIVER OUTLAW foi alugado por 20 clientes.']
['O filme ROAD ROXANNE foi alugado por 19 clientes.']
['O filme ROBBERS JOON foi alugado por 31 clientes.']
['O filme ROBBERY BRIGHT foi alugado por 13 clientes.']
['O filme ROCK INSTINCT foi alugado por 17 clientes.']
['O filme ROCKETEER MOTHER foi alugado por 33 clientes.']
['O filme ROCKY WAR foi alugado por 16 clientes.']
['O filme ROLLERCOASTER BRINGING foi alugado por 10 clientes.']
['O filme ROMAN PUNK foi alugado por 24 clientes.']
['O filme ROOM ROMAN foi alugado por 20 clientes.']
['O filme ROOTS REMEMBER foi alugado por 17 clientes.']
['O filme ROSES TREASURE foi alugado por 28 clientes.']
['O filme ROUGE SQUAD foi alugado por 18 clientes.']
['O filme ROXANNE REBEL foi alugado por 19 clientes.']
['O filme RUGRATS SHAKESPEARE foi alugado por 30 clientes.']
['O filme RULES HUMAN foi alugado por 16 clientes.']
['O filme RUN PACIFIC foi alugado por 10 clientes.']
['O filme RUNAWAY TENENBAUMS foi alugado por 8 clientes.']
['O filme RUNNER MADIGAN foi alugado por 8 clientes.']
['O filme RUSH GOODFELLAS foi alugado por 31 clientes.']
['O filme RUSHMORE MERMAID foi alugado por 6 clientes.']
['O filme SABRINA MIDNIGHT foi alugado por 21 clientes.']
['O filme SADDLE ANTITRUST foi alugado por 14 clientes.']
['O filme SAGEBRUSH CLUELESS foi alugado por 16 clientes.']
['O filme SAINTS BRIDE foi alugado por 8 clientes.']
['O filme SALUTE APOLLO foi alugado por 23 clientes.']
['O filme SAMURAI LION foi alugado por 25 clientes.']
['O filme SANTA PARIS foi alugado por 11 clientes.']
['O filme SASSY PACKER foi alugado por 13 clientes.']
['O filme SATISFACTION CONFIDENTIAL foi alugado por 17 clientes.']
['O filme SATURDAY LAMBS foi alugado por 28 clientes.']
['O filme SATURN NAME foi alugado por 13 clientes.']
['O filme SAVANNAH TOWN foi alugado por 12 clientes.']
['O filme SCALAWAG DUCK foi alugado por 32 clientes.']
['O filme SCARFACE BANG foi alugado por 18 clientes.']
['O filme SCHOOL JACKET foi alugado por 6 clientes.']
['O filme SCISSORHANDS SLUMS foi alugado por 15 clientes.']
['O filme SCORPION APOLLO foi alugado por 23 clientes.']
['O filme SEA VIRGIN foi alugado por 22 clientes.']
['O filme SEABISCUIT PUNK foi alugado por 26 clientes.']
['O filme SEARCHERS WAIT foi alugado por 14 clientes.']
['O filme SEATTLE EXPECATIONS foi alugado por 24 clientes.']
['O filme SECRET GROUNDHOG foi alugado por 21 clientes.']
['O filme SECRETARY ROUGE foi alugado por 18 clientes.']
['O filme SECRETS PARADISE foi alugado por 20 clientes.']
['O filme SENSE GREEK foi alugado por 7 clientes.']
['O filme SENSIBILITY REAR foi alugado por 10 clientes.']
['O filme SEVEN SWARM foi alugado por 5 clientes.']
['O filme SHAKESPEARE SADDLE foi alugado por 22 clientes.']
['O filme SHANE DARKNESS foi alugado por 14 clientes.']
['O filme SHANGHAI TYCOON foi alugado por 14 clientes.']
['O filme SHAWSHANK BUBBLE foi alugado por 19 clientes.']
['O filme SHEPHERD MIDSUMMER foi alugado por 25 clientes.']
['O filme SHINING ROSES foi alugado por 8 clientes.']
['O filme SHIP WONDERLAND foi alugado por 15 clientes.']
['O filme SHOCK CABIN foi alugado por 30 clientes.']
['O filme SHOOTIST SUPERFLY foi alugado por 24 clientes.']
['O filme SHOW LORD foi alugado por 25 clientes.']
['O filme SHREK LICENSE foi alugado por 15 clientes.']
['O filme SHRUNK DIVINE foi alugado por 14 clientes.']
['O filme SIDE ARK foi alugado por 12 clientes.']
['O filme SIEGE MADRE foi alugado por 15 clientes.']
['O filme SIERRA DIVIDE foi alugado por 15 clientes.']
['O filme SILENCE KANE foi alugado por 16 clientes.']
['O filme SILVERADO GOLDFINGER foi alugado por 12 clientes.']
['O filme SIMON NORTH foi alugado por 6 clientes.']
['O filme SINNERS ATLANTIS foi alugado por 22 clientes.']
['O filme SLACKER LIAISONS foi alugado por 17 clientes.']
['O filme SLEEPING SUSPECTS foi alugado por 24 clientes.']
['O filme SLEEPLESS MONSOON foi alugado por 20 clientes.']
['O filme SLEEPY JAPANESE foi alugado por 21 clientes.']
['O filme SLEUTH ORIENT foi alugado por 21 clientes.']
['O filme SLING LUKE foi alugado por 6 clientes.']
['O filme SLIPPER FIDELITY foi alugado por 16 clientes.']
['O filme SLUMS DUCK foi alugado por 24 clientes.']
['O filme SMILE EARRING foi alugado por 10 clientes.']
['O filme SMOKING BARBARELLA foi alugado por 18 clientes.']
['O filme SMOOCHY CONTROL foi alugado por 12 clientes.']
['O filme SNATCH SLIPPER foi alugado por 22 clientes.']
['O filme SNATCHERS MONTEZUMA foi alugado por 9 clientes.']
['O filme SNOWMAN ROLLERCOASTER foi alugado por 23 clientes.']
['O filme SOLDIERS EVOLUTION foi alugado por 8 clientes.']
['O filme SOMETHING DUCK foi alugado por 19 clientes.']
['O filme SONG HEDWIG foi alugado por 11 clientes.']
['O filme SONS INTERVIEW foi alugado por 15 clientes.']
['O filme SORORITY QUEEN foi alugado por 12 clientes.']
['O filme SOUP WISDOM foi alugado por 8 clientes.']
['O filme SOUTH WAIT foi alugado por 22 clientes.']
['O filme SPARTACUS CHEAPER foi alugado por 9 clientes.']
['O filme SPEAKEASY DATE foi alugado por 12 clientes.']
['O filme SPEED SUIT foi alugado por 9 clientes.']
['O filme SPICE SORORITY foi alugado por 20 clientes.']
['O filme SPIKING ELEMENT foi alugado por 13 clientes.']
['O filme SPINAL ROCKY foi alugado por 13 clientes.']
['O filme SPIRIT FLINTSTONES foi alugado por 15 clientes.']
['O filme SPIRITED CASUALTIES foi alugado por 11 clientes.']
['O filme SPLASH GUMP foi alugado por 14 clientes.']
['O filme SPLENDOR PATTON foi alugado por 21 clientes.']
['O filme SPOILERS HELLFIGHTERS foi alugado por 10 clientes.']
['O filme SPY MILE foi alugado por 27 clientes.']
['O filme SQUAD FISH foi alugado por 7 clientes.']
['O filme STAGE WORLD foi alugado por 10 clientes.']
['O filme STAGECOACH ARMAGEDDON foi alugado por 26 clientes.']
['O filme STALLION SUNDANCE foi alugado por 7 clientes.']
['O filme STAMPEDE DISTURBING foi alugado por 14 clientes.']
['O filme STAR OPERATION foi alugado por 21 clientes.']
['O filme STATE WASTELAND foi alugado por 13 clientes.']
['O filme STEEL SANTA foi alugado por 23 clientes.']
['O filme STEERS ARMAGEDDON foi alugado por 15 clientes.']
['O filme STEPMOM DREAM foi alugado por 20 clientes.']
['O filme STING PERSONAL foi alugado por 21 clientes.']
['O filme STOCK GLASS foi alugado por 14 clientes.']
['O filme STONE FIRE foi alugado por 11 clientes.']
['O filme STORM HAPPINESS foi alugado por 29 clientes.']
['O filme STORY SIDE foi alugado por 28 clientes.']
['O filme STRAIGHT HOURS foi alugado por 20 clientes.']
['O filme STRANGELOVE DESIRE foi alugado por 24 clientes.']
['O filme STRANGER STRANGERS foi alugado por 11 clientes.']
['O filme STRANGERS GRAFFITI foi alugado por 17 clientes.']
['O filme STREAK RIDGEMONT foi alugado por 16 clientes.']
['O filme STREETCAR INTENTIONS foi alugado por 25 clientes.']
['O filme STRICTLY SCARFACE foi alugado por 23 clientes.']
['O filme SUBMARINE BED foi alugado por 15 clientes.']
['O filme SUGAR WONKA foi alugado por 17 clientes.']
['O filme SUIT WALLS foi alugado por 21 clientes.']
['O filme SUMMER SCARFACE foi alugado por 16 clientes.']
['O filme SUN CONFESSIONS foi alugado por 25 clientes.']
['O filme SUNDANCE INVASION foi alugado por 19 clientes.']
['O filme SUNRISE LEAGUE foi alugado por 24 clientes.']
['O filme SUNSET RACER foi alugado por 8 clientes.']
['O filme SUPER WYOMING foi alugado por 13 clientes.']
['O filme SUPERFLY TRIP foi alugado por 10 clientes.']
['O filme SUSPECTS QUILLS foi alugado por 30 clientes.']
['O filme SWARM GOLD foi alugado por 27 clientes.']
['O filme SWEDEN SHINING foi alugado por 18 clientes.']
['O filme SWEET BROTHERHOOD foi alugado por 15 clientes.']
['O filme SWEETHEARTS SUSPECTS foi alugado por 29 clientes.']
['O filme TALENTED HOMICIDE foi alugado por 29 clientes.']
['O filme TARZAN VIDEOTAPE foi alugado por 8 clientes.']
['O filme TAXI KICK foi alugado por 17 clientes.']
['O filme TEEN APOLLO foi alugado por 17 clientes.']
['O filme TELEGRAPH VOYAGE foi alugado por 27 clientes.']
['O filme TELEMARK HEARTBREAKERS foi alugado por 25 clientes.']
['O filme TEMPLE ATTRACTION foi alugado por 12 clientes.']
['O filme TENENBAUMS COMMAND foi alugado por 13 clientes.']
['O filme TEQUILA PAST foi alugado por 6 clientes.']
['O filme TERMINATOR CLUB foi alugado por 6 clientes.']
['O filme TEXAS WATCH foi alugado por 6 clientes.']
['O filme THEORY MERMAID foi alugado por 11 clientes.']
['O filme THIEF PELICAN foi alugado por 19 clientes.']
['O filme THIN SAGEBRUSH foi alugado por 11 clientes.']
['O filme TIES HUNGER foi alugado por 11 clientes.']
['O filme TIGHTS DAWN foi alugado por 26 clientes.']
['O filme TIMBERLAND SKY foi alugado por 31 clientes.']
['O filme TITANIC BOONDOCK foi alugado por 23 clientes.']
['O filme TITANS JERK foi alugado por 29 clientes.']
['O filme TOMATOES HELLFIGHTERS foi alugado por 14 clientes.']
['O filme TOMORROW HUSTLER foi alugado por 25 clientes.']
['O filme TOOTSIE PILOT foi alugado por 15 clientes.']
['O filme TORQUE BOUND foi alugado por 27 clientes.']
['O filme TOURIST PELICAN foi alugado por 22 clientes.']
['O filme TOWERS HURRICANE foi alugado por 11 clientes.']
['O filme TOWN ARK foi alugado por 14 clientes.']
['O filme TRACY CIDER foi alugado por 26 clientes.']
['O filme TRADING PINOCCHIO foi alugado por 25 clientes.']
['O filme TRAFFIC HOBBIT foi alugado por 5 clientes.']
['O filme TRAIN BUNCH foi alugado por 4 clientes.']
['O filme TRAINSPOTTING STRANGERS foi alugado por 11 clientes.']
['O filme TRAMP OTHERS foi alugado por 20 clientes.']
['O filme TRANSLATION SUMMER foi alugado por 15 clientes.']
['O filme TRAP GUYS foi alugado por 16 clientes.']
['O filme TREATMENT JEKYLL foi alugado por 7 clientes.']
['O filme TRIP NEWTON foi alugado por 28 clientes.']
['O filme TROJAN TOMORROW foi alugado por 19 clientes.']
['O filme TROOPERS METAL foi alugado por 14 clientes.']
['O filme TROUBLE DATE foi alugado por 23 clientes.']
['O filme TRUMAN CRAZY foi alugado por 23 clientes.']
['O filme TURN STAR foi alugado por 14 clientes.']
['O filme TUXEDO MILE foi alugado por 13 clientes.']
['O filme TWISTED PIRATES foi alugado por 11 clientes.']
['O filme TYCOON GATHERING foi alugado por 12 clientes.']
['O filme UNBREAKABLE KARATE foi alugado por 21 clientes.']
['O filme UNCUT SUICIDES foi alugado por 14 clientes.']
['O filme UNDEFEATED DALMATIONS foi alugado por 21 clientes.']
['O filme UNFAITHFUL KILL foi alugado por 8 clientes.']
['O filme UNFORGIVEN ZOOLANDER foi alugado por 18 clientes.']
['O filme UNITED PILOT foi alugado por 17 clientes.']
['O filme UNTOUCHABLES SUNRISE foi alugado por 8 clientes.']
['O filme UPRISING UPTOWN foi alugado por 16 clientes.']
['O filme UPTOWN YOUNG foi alugado por 12 clientes.']
['O filme USUAL UNTOUCHABLES foi alugado por 13 clientes.']
['O filme VACATION BOONDOCK foi alugado por 21 clientes.']
['O filme VALENTINE VANISHING foi alugado por 12 clientes.']
['O filme VALLEY PACKER foi alugado por 15 clientes.']
['O filme VAMPIRE WHALE foi alugado por 12 clientes.']
['O filme VANILLA DAY foi alugado por 9 clientes.']
['O filme VANISHED GARDEN foi alugado por 7 clientes.']
['O filme VANISHING ROCKY foi alugado por 18 clientes.']
['O filme VARSITY TRIP foi alugado por 16 clientes.']
['O filme VELVET TERMINATOR foi alugado por 26 clientes.']
['O filme VERTIGO NORTHWEST foi alugado por 8 clientes.']
['O filme VICTORY ACADEMY foi alugado por 9 clientes.']
['O filme VIDEOTAPE ARSENIC foi alugado por 29 clientes.']
['O filme VIETNAM SMOOCHY foi alugado por 15 clientes.']

['O filme VIRGIN DAISY foi alugado por 17 clientes.']
['O filme VIRGINIAN PLUTO foi alugado por 29 clientes.']
['O filme VIRTUAL SPOILERS foi alugado por 14 clientes.']
['O filme VISION TORQUE foi alugado por 7 clientes.']
['O filme VOICE PEACH foi alugado por 19 clientes.']
['O filme VOLCANO TEXAS foi alugado por 22 clientes.']
['O filme VOYAGE LEGALLY foi alugado por 28 clientes.']
['O filme WAGON JAWS foi alugado por 10 clientes.']
['O filme WAIT CIDER foi alugado por 21 clientes.']
['O filme WANDA CHAMBER foi alugado por 16 clientes.']
['O filme WAR NOTTING foi alugado por 12 clientes.']
['O filme WARDROBE PHANTOM foi alugado por 27 clientes.']
['O filme WARLOCK WEREWOLF foi alugado por 6 clientes.']
['O filme WARS PLUTO foi alugado por 10 clientes.']
['O filme WASH HEAVENLY foi alugado por 23 clientes.']
['O filme WASTELAND DIVINE foi alugado por 15 clientes.']
['O filme WATCH TRACY foi alugado por 16 clientes.']
['O filme WATERFRONT DELIVERANCE foi alugado por 17 clientes.']
['O filme WATERSHIP FRONTIER foi alugado por 6 clientes.']
['O filme WEDDING APOLLO foi alugado por 24 clientes.']
['O filme WEEKEND PERSONAL foi alugado por 18 clientes.']
['O filme WEREWOLF LOLA foi alugado por 14 clientes.']
['O filme WEST LION foi alugado por 16 clientes.']
['O filme WESTWARD SEABISCUIT foi alugado por 26 clientes.']
['O filme WHALE BIKINI foi alugado por 18 clientes.']
['O filme WHISPERER GIANT foi alugado por 22 clientes.']
['O filme WIFE TURN foi alugado por 31 clientes.']
['O filme WILD APOLLO foi alugado por 6 clientes.']
['O filme WILLOW TRACY foi alugado por 16 clientes.']
['O filme WIND PHANTOM foi alugado por 23 clientes.']
['O filme WINDOW SIDE foi alugado por 12 clientes.']
['O filme WISDOM WORKER foi alugado por 9 clientes.']
['O filme WITCHES PANIC foi alugado por 30 clientes.']
['O filme WIZARD COLDBLOODED foi alugado por 16 clientes.']
['O filme WOLVES DESIRE foi alugado por 21 clientes.']
['O filme WOMEN DORADO foi alugado por 23 clientes.']
['O filme WON DARES foi alugado por 9 clientes.']
['O filme WONDERFUL DROP foi alugado por 9 clientes.']
['O filme WONDERLAND CHRISTMAS foi alugado por 22 clientes.']
['O filme WONKA SEA foi alugado por 18 clientes.']
['O filme WORDS HUNTER foi alugado por 16 clientes.']
['O filme WORKER TARZAN foi alugado por 15 clientes.']
['O filme WORKING MICROCOSMOS foi alugado por 25 clientes.']
['O filme WORLD LEATHERNECKS foi alugado por 8 clientes.']
['O filme WORST BANGER foi alugado por 16 clientes.']
['O filme WRATH MILE foi alugado por 14 clientes.']
['O filme WRONG BEHAVIOR foi alugado por 20 clientes.']
['O filme WYOMING STORM foi alugado por 13 clientes.']
['O filme YENTL IDAHO foi alugado por 23 clientes.']
['O filme YOUNG LANGUAGE foi alugado por 7 clientes.']
['O filme YOUTH KICK foi alugado por 6 clientes.']
['O filme ZHIVAGO CORE foi alugado por 9 clientes.']
['O filme ZOOLANDER FICTION foi alugado por 17 clientes.']
['O filme ZORRO ARK foi alugado por 31 clientes.']

Resposta Questão 1 - O Banco de Dados é real ou Irreal? (feita pelo professor)

Para provar que o banco não possui dados que expressão uma da realidade empiricamente verificável, ou seja, a locadora não existe, executamos a pesquisa abaixo.

In [16]:
%sql Select rental.staff_id, count(rental.rental_id) from rental group by rental.staff_id;

 * sqlite:///dvd_rental.db
Done.

[(1, 8040), (2, 8004)]

Nesta pesquisa, notamos que 50,1% dos empréstimos foram feitos pela Loja 1 e 49,9% dos empréstimos foram feitos pela
Loja 2. Se o banco fosse construído com base em dados empíricos, deveria ser nota uma maior variação entre as porcentagens
 de aluguel, pois, em caso contrário, teríamos que admitir que variáveis que determinam qual loja aluga mais, assumem,
em última instância, os mesmo valores. Por outro lado, se o banco foi criado utilizando uma geração aleatória de dados,
na qual para duas variáveis L1 e L2 se tinha uma probabilidade de 50% de ser selecionada uma ou outra, teríamos, por
probabilidade frequentista um resultado similar ao constatado no banco para um número grande de sorteios. Logo,
acreditamos que este banco não possui dados reais pois há evidências de que os dados foram criados aleatoriamente.

Resposta Questão 2 - Quais os clientes que mais gastaram em locações? (feita pelo grupo)

Usando a tabela payment podemos verificar todos os pagamentos feitos por cada cliente. Com base nessa informação, agrupamos os clientes e somamos cada pagamento feito. O resultado é apresentado abaixo.

In [17]:
%sql Select payment.customer_id, customer.first_name, customer.last_name, sum(payment.amount) from payment INNER JOIN customer where payment.customer_id = customer.customer_id group by payment.customer_id order by sum(payment.amount) desc;

 * sqlite:///dvd_rental.db
Done.

[(526, 'KARL', 'SEAL', 221.5500000000001),
 (148, 'ELEANOR', 'HUNT', 216.5400000000001),
 (144, 'CLARA', 'SHAW', 195.58000000000007),
 (137, 'RHONDA', 'KENNEDY', 194.61000000000007),
 (178, 'MARION', 'SNYDER', 194.61000000000007),
 (459, 'TOMMY', 'COLLAZO', 186.62000000000006),
 (469, 'WESLEY', 'BULL', 177.60000000000002),
 (468, 'TIM', 'CARY', 175.61000000000004),
 (236, 'MARCIA', 'DEAN', 175.58),
 (181, 'ANA', 'BRADLEY', 174.66000000000005),
 (176, 'JUNE', 'CARROLL', 173.63000000000002),
 (259, 'LENA', 'JENSEN', 170.67000000000004),
 (50, 'DIANE', 'COLLINS', 169.65),
 (522, 'ARNOLD', 'HAVENS', 167.67000000000002),
 (410, 'CURTIS', 'IRBY', 167.62000000000003),
 (403, 'MIKE', 'WAY', 166.65000000000006),
 (295, 'DAISY', 'BATES', 162.62000000000003),
 (209, 'TONYA', 'CHAPMAN', 161.68),
 (373, 'LOUIS', 'LEONE', 161.65000000000003),
 (470, 'GORDON', 'ALLARD', 160.67999999999998),
 (187, 'BRITTANY', 'RILEY', 159.72),
 (550, 'GUY', 'BROWNLEE', 159.68),
 (462, 'WARREN', 'SHERROD', 159.67),
 (267, 'MARGIE', 'WADE', 159.64),
 (293, 'MAE', 'FLETCHER', 158.69),
 (372, 'STEVE', 'MACKENZIE', 158.66),
 (273, 'PRISCILLA', 'LOWE', 157.65),
 (368, 'HARRY', 'ARCE', 157.65),
 (346, 'ARTHUR', 'SIMPKINS', 155.68),
 (21, 'MICHELLE', 'CLARK', 155.65),
 (75, 'TAMMY', 'SANDERS', 155.59),
 (197, 'SUE', 'PETERS', 154.59999999999997),
 (119, 'SHERRY', 'MARSHALL', 153.66),
 (532, 'NEIL', 'RENNER', 152.68),
 (390, 'SHAWN', 'HEATON', 152.67),
 (26, 'JESSICA', 'HALL', 152.65999999999997),
 (274, 'NAOMI', 'JENNINGS', 152.65),
 (506, 'LESLIE', 'SEWARD', 152.64999999999995),
 (366, 'BRANDON', 'HUEY', 152.63),
 (7, 'MARIA', 'MILLER', 151.67),
 (454, 'ALEX', 'GRESHAM', 151.67),
 (211, 'STACEY', 'MONTGOMERY', 151.65999999999997),
 (196, 'ALMA', 'AUSTIN', 151.64999999999998),
 (439, 'ALEXANDER', 'FENNELL', 151.64),
 (257, 'MARSHA', 'DOUGLAS', 151.63000000000002),
 (360, 'RALPH', 'MADRIGAL', 150.66),
 (371, 'BILLY', 'POULIN', 149.65),
 (513, 'DUANE', 'TUBBS', 148.68999999999997),
 (86, 'JACQUELINE', 'LONG', 148.67),
 (309, 'CHRISTOPHER', 'GRECO', 147.68999999999997),
 (204, 'ROSEMARY', 'SCHMIDT', 147.64999999999998),
 (479, 'ZACHARY', 'HITE', 146.69),
 (103, 'GLADYS', 'HAMILTON', 146.68999999999997),
 (348, 'ROGER', 'QUINTANILLA', 146.64),
 (87, 'WANDA', 'PATTERSON', 145.7),
 (362, 'NICHOLAS', 'BARFIELD', 145.67999999999998),
 (172, 'BERNICE', 'WILLIS', 145.67),
 (436, 'TROY', 'QUIGLEY', 144.7),
 (277, 'OLGA', 'JIMENEZ', 144.67999999999995),
 (237, 'TANYA', 'GILBERT', 144.67),
 (66, 'JANICE', 'WARD', 144.65999999999997),
 (5, 'ELIZABETH', 'BROWN', 144.61999999999998),
 (337, 'JERRY', 'JORDON', 143.70999999999998),
 (363, 'ROY', 'WHITING', 143.70999999999998),
 (120, 'SYLVIA', 'ORTIZ', 143.67999999999998),
 (289, 'VIOLET', 'RODRIQUEZ', 142.7),
 (347, 'RYAN', 'SALISBURY', 142.7),
 (46, 'CATHERINE', 'CAMPBELL', 142.65999999999997),
 (239, 'MINNIE', 'ROMERO', 142.65999999999997),
 (39, 'DEBRA', 'NELSON', 141.70999999999995),
 (472, 'GREG', 'ROBINS', 141.69999999999996),
 (78, 'LORI', 'WOOD', 141.68999999999997),
 (84, 'SARA', 'PERRY', 141.66999999999996),
 (533, 'JESSIE', 'MILAM', 141.66999999999996),
 (566, 'CASEY', 'MENA', 141.65999999999997),
 (198, 'ELSIE', 'KELLEY', 141.62999999999997),
 (494, 'RAMON', 'CHOATE', 140.68999999999997),
 (242, 'GLENDA', 'FRAZIER', 140.68),
 (29, 'ANGELA', 'HERNANDEZ', 140.63999999999996),
 (467, 'ALVIN', 'DELOACH', 139.70999999999998),
 (146, 'JAMIE', 'RICE', 139.70999999999995),
 (484, 'ROBERTO', 'VU', 139.7),
 (404, 'STANLEY', 'SCROGGINS', 139.69999999999996),
 (114, 'GRACE', 'ELLIS', 139.67),
 (576, 'MORRIS', 'MCCARTER', 139.65999999999997),
 (349, 'JOE', 'GILLILAND', 138.70999999999998),
 (482, 'MAURICE', 'CRAWLEY', 138.70999999999998),
 (306, 'CHARLES', 'KOWALSKI', 138.67999999999995),
 (51, 'ALICE', 'STEWART', 138.66999999999993),
 (502, 'BRETT', 'CORNWELL', 138.65999999999997),
 (80, 'MARILYN', 'ROSS', 137.69999999999996),
 (210, 'ELLA', 'OLIVER', 137.68999999999997),
 (300, 'JOHN', 'FARNSWORTH', 137.68999999999994),
 (102, 'CRYSTAL', 'FORD', 137.66999999999996),
 (207, 'GERTRUDE', 'CASTILLO', 137.65999999999997),
 (200, 'JEANNE', 'LAWSON', 136.73),
 (380, 'RUSSELL', 'BRINSON', 136.63999999999996),
 (3, 'LINDA', 'WILLIAMS', 135.73999999999998),
 (285, 'MIRIAM', 'MCKINNEY', 135.73999999999998),
 (558, 'JIMMIE', 'EGGLESTON', 135.71999999999997),
 (448, 'MIGUEL', 'BETANCOURT', 135.70999999999995),
 (56, 'GLORIA', 'COOK', 135.69999999999996),
 (334, 'RAYMOND', 'MCWHORTER', 135.69999999999996),
 (279, 'DIANNE', 'SHELTON', 135.68999999999997),
 (125, 'ETHEL', 'WEBB', 135.67999999999998),
 (535, 'JAVIER', 'ELROD', 135.67999999999995),
 (168, 'REGINA', 'BERRY', 135.65999999999997),
 (591, 'KENT', 'ARSENAULT', 134.72999999999996),
 (307, 'JOSEPH', 'JOY', 134.69999999999996),
 (569, 'DAVE', 'GARDINER', 134.67999999999998),
 (15, 'HELEN', 'HARRIS', 134.67999999999995),
 (89, 'JULIA', 'FLORES', 134.67999999999995),
 (520, 'MITCHELL', 'WESTMORELAND', 134.67999999999992),
 (438, 'BARRY', 'LOVELACE', 134.66999999999996),
 (473, 'JORGE', 'OLIVARES', 134.65999999999994),
 (433, 'DON', 'BONE', 133.74999999999994),
 (59, 'CHERYL', 'MURPHY', 133.72999999999996),
 (504, 'NATHANIEL', 'ADAM', 133.71999999999997),
 (92, 'TINA', 'SIMMONS', 133.71999999999994),
 (179, 'DANA', 'HART', 133.70999999999995),
 (265, 'JENNIE', 'TERRY', 133.70999999999995),
 (112, 'ROSA', 'REYNOLDS', 133.69999999999996),
 (221, 'BESSIE', 'MORRISON', 132.71999999999994),
 (316, 'STEVEN', 'CURLEY', 132.70999999999995),
 (108, 'TRACY', 'COLE', 132.69999999999996),
 (319, 'RONALD', 'WEINER', 132.69999999999996),
 (560, 'JORDAN', 'ARCHULETA', 132.69999999999996),
 (245, 'COURTNEY', 'DAY', 132.67999999999998),
 (13, 'KAREN', 'JACKSON', 131.72999999999996),
 (299, 'JAMES', 'GANNON', 131.69999999999996),
 (314, 'GEORGE', 'LINTON', 131.66999999999993),
 (82, 'KATHRYN', 'COLEMAN', 130.73999999999995),
 (594, 'EDUARDO', 'HIATT', 130.72999999999996),
 (49, 'JOYCE', 'EDWARDS', 130.71999999999994),
 (154, 'MICHELE', 'GRANT', 130.69999999999996),
 (342, 'HAROLD', 'MARTINO', 130.67999999999995),
 (141, 'DEBBIE', 'REYES', 130.67999999999992),
 (589, 'TRACY', 'HERRMANN', 129.71999999999997),
 (497, 'GILBERT', 'SLEDGE', 129.71999999999994),
 (71, 'KATHY', 'JAMES', 129.69999999999996),
 (584, 'SALVADOR', 'TEEL', 129.69999999999996),
 (269, 'CASSANDRA', 'WALTERS', 129.69999999999993),
 (296, 'RAMONA', 'HALE', 129.69999999999993),
 (35, 'VIRGINIA', 'GREEN', 129.67999999999995),
 (244, 'VIOLA', 'HANSON', 129.67999999999995),
 (354, 'JUSTIN', 'NGO', 129.63999999999996),
 (434, 'EDDIE', 'TOMLIN', 128.72999999999996),
 (2, 'PATRICIA', 'JOHNSON', 128.72999999999993),
 (322, 'JASON', 'MORRISSEY', 128.71999999999997),
 (54, 'TERESA', 'ROGERS', 128.70999999999995),
 (131, 'MONICA', 'HICKS', 128.69999999999993),
 (297, 'SHERRI', 'RHODES', 128.66999999999993),
 (451, 'JIM', 'REA', 128.66999999999993),
 (508, 'MILTON', 'HOWLAND', 127.74999999999996),
 (45, 'JANET', 'PHILLIPS', 127.72999999999996),
 (32, 'AMY', 'LOPEZ', 127.70999999999995),
 (253, 'TERRY', 'CARLSON', 127.70999999999995),
 (302, 'MICHAEL', 'SILVERMAN', 127.70999999999994),
 (339, 'WALTER', 'PERRYMAN', 127.69999999999993),
 (329, 'FRANK', 'WAGGONER', 127.67999999999994),
 (128, 'MARJORIE', 'TUCKER', 127.67999999999992),
 (147, 'JOANNE', 'ROBERTSON', 127.65999999999995),
 (38, 'MARTHA', 'GONZALEZ', 127.65999999999993),
 (206, 'TERRI', 'VASQUEZ', 126.72999999999995),
 (426, 'BRADLEY', 'MOTLEY', 126.72999999999995),
 (284, 'SONIA', 'GREGORY', 126.71999999999996),
 (515, 'ANDRE', 'RAPP', 126.71999999999996),
 (575, 'ISAAC', 'OGLESBY', 126.70999999999997),
 (565, 'JAIME', 'NETTLES', 126.70999999999995),
 (107, 'FLORENCE', 'WOODS', 126.69999999999996),
 (27, 'SHIRLEY', 'ALLEN', 126.68999999999996),
 (122, 'THELMA', 'MURRAY', 126.67999999999994),
 (158, 'VERONICA', 'STONE', 126.67999999999992),
 (19, 'RUTH', 'MARTINEZ', 125.75999999999998),
 (389, 'ALAN', 'KAHN', 124.73999999999994),
 (491, 'RICK', 'MATTOX', 124.72999999999996),
 (400, 'BRYAN', 'HARDISON', 124.71999999999994),
 (388, 'CRAIG', 'MORRELL', 124.69999999999993),
 (230, 'JOY', 'GEORGE', 124.66999999999993),
 (129, 'CARRIE', 'PORTER', 124.65999999999994),
 (166, 'LYNN', 'PAYNE', 123.71999999999996),
 (268, 'NINA', 'SOTO', 123.70999999999995),
 (499, 'MARC', 'OUTLAW', 123.69999999999996),
 (30, 'MELISSA', 'KING', 123.65999999999993),
 (510, 'BEN', 'EASTER', 122.73999999999995),
 (331, 'ERIC', 'ROBERT', 122.72999999999995),
 (276, 'BRANDY', 'GRAVES', 122.71999999999994),
 (163, 'CATHY', 'SPENCER', 122.70999999999997),
 (263, 'HILDA', 'HOPKINS', 122.70999999999997),
 (260, 'CHRISTY', 'VARGAS', 122.68999999999994),
 (406, 'NATHAN', 'RUNYON', 122.67999999999994),
 (241, 'HEIDI', 'LARSON', 122.65999999999994),
 (571, 'JOHNNIE', 'CHISHOLM', 121.75999999999995),
 (149, 'VALERIE', 'BLACK', 121.73999999999995),
 (356, 'GERALD', 'FULTZ', 121.69999999999995),
 (416, 'JEFFERY', 'PINSON', 121.68999999999996),
 (393, 'PHILIP', 'CAUSEY', 121.68999999999994),
 (311, 'PAUL', 'TROUT', 120.76999999999997),
 (105, 'DAWN', 'SULLIVAN', 120.73999999999995),
 (225, 'ARLENE', 'HARVEY', 120.73999999999995),
 (423, 'ALFRED', 'CASILLAS', 120.73999999999995),
 (495, 'CHARLIE', 'BESS', 120.73999999999995),
 (16, 'SANDRA', 'MARTIN', 120.70999999999995),
 (573, 'BYRON', 'BOX', 120.70999999999994),
 (251, 'VICKIE', 'BREWER', 120.68999999999994),
 (170, 'BEATRICE', 'ARNOLD', 119.73999999999997),
 (487, 'HECTOR', 'POINDEXTER', 119.73999999999997),
 (421, 'LEE', 'HAWKS', 119.72999999999995),
 (262, 'PATSY', 'DAVIDSON', 119.71999999999994),
 (173, 'AUDREY', 'RAY', 119.70999999999995),
 (23, 'SARAH', 'LEWIS', 119.69999999999996),
 (336, 'JOSHUA', 'MARK', 119.69999999999995),
 (340, 'PATRICK', 'NEWSOM', 119.68999999999996),
 (167, 'SALLY', 'PIERCE', 119.67999999999995),
 (41, 'STEPHANIE', 'MITCHELL', 118.74999999999996),
 (531, 'JAMIE', 'WAUGH', 118.74999999999996),
 (280, 'TRACEY', 'BARRETT', 118.72999999999995),
 (292, 'MISTY', 'LAMBERT', 118.72999999999995),
 (266, 'NORA', 'HERRERA', 118.71999999999994),
 (332, 'STEPHEN', 'QUALLS', 118.71999999999994),
 (577, 'CLIFTON', 'MALCOLM', 118.71999999999994),
 (529, 'ERIK', 'GUILLEN', 118.70999999999997),
 (1, 'MARY', 'SMITH', 118.67999999999992),
 (442, 'LEROY', 'BUSTAMANTE', 118.67999999999992),
 (583, 'MARSHALL', 'THORN', 117.76999999999995),
 (490, 'SAM', 'MCDUFFIE', 117.75999999999996),
 (585, 'PERRY', 'SWAFFORD', 117.75999999999996),
 (536, 'FERNANDO', 'CHURCHILL', 117.74999999999996),
 (240, 'MARLENE', 'WELCH', 117.73999999999997),
 (286, 'VELMA', 'LUCAS', 117.72999999999993),
 (126, 'ELLEN', 'SIMPSON', 117.71999999999997),
 (14, 'BETTY', 'WHITE', 117.71999999999994),
 (538, 'TED', 'BREAUX', 117.70999999999997),
 (386, 'TODD', 'TAN', 117.70999999999994),
 (42, 'CAROLYN', 'PEREZ', 117.69999999999997),
 (595, 'TERRENCE', 'GUNDERSON', 117.69999999999993),
 (321, 'KEVIN', 'SCHULER', 116.77999999999996),
 (432, 'EDWIN', 'BURK', 116.76999999999995),
 (408, 'MANUEL', 'MURRELL', 116.69999999999995),
 (446, 'THEODORE', 'CULP', 116.68999999999996),
 (214, 'KRISTIN', 'JOHNSTON', 116.68999999999994),
 (254, 'MAXINE', 'SILVA', 116.67999999999995),
 (304, 'DAVID', 'ROYAL', 115.73999999999995),
 (512, 'CECIL', 'VINES', 115.73999999999995),
 (58, 'JEAN', 'BELL', 115.72999999999996),
 (500, 'REGINALD', 'KINDER', 115.71999999999994),
 (25, 'DEBORAH', 'WALKER', 115.70999999999995),
 (287, 'BECKY', 'MILES', 115.70999999999995),
 (485, 'CLYDE', 'TOBIAS', 115.70999999999995),
 (588, 'MARION', 'OCAMPO', 115.70999999999995),
 (481, 'HERMAN', 'DEVORE', 115.70999999999994),
 (53, 'HEATHER', 'MORRIS', 115.69999999999997),
 (20, 'SHARON', 'ROBINSON', 115.69999999999995),
 (444, 'MARCUS', 'HIDALGO', 115.69999999999995),
 (503, 'ANGEL', 'BARCLAY', 115.67999999999994),
 (427, 'JESUS', 'MCCARTNEY', 114.75999999999996),
 (343, 'DOUGLAS', 'GRAF', 114.74999999999996),
 (171, 'DOLORES', 'WAGNER', 114.73999999999997),
 (44, 'MARIE', 'TURNER', 114.73999999999995),
 (220, 'CHARLENE', 'ALVAREZ', 114.72999999999995),
 (457, 'BILL', 'GAVIN', 114.71999999999998),
 (338, 'DENNIS', 'GILMAN', 114.71999999999996),
 (57, 'EVELYN', 'MORGAN', 114.71999999999994),
 (317, 'EDWARD', 'BAUGH', 114.71999999999994),
 (186, 'HOLLY', 'FOX', 114.68999999999997),
 (323, 'MATTHEW', 'MAHAN', 114.68999999999994),
 (22, 'LAURA', 'RODRIGUEZ', 113.77999999999999),
 (582, 'ANDY', 'VANHORN', 113.74999999999996),
 (593, 'RENE', 'MCALISTER', 113.73999999999998),
 (294, 'SHELLY', 'WATTS', 113.73999999999997),
 (486, 'GLEN', 'TALBERT', 113.73999999999995),
 (139, 'AMBER', 'DIXON', 113.72999999999996),
 (113, 'CINDY', 'FISHER', 113.70999999999997),
 (447, 'CLIFFORD', 'BOWENS', 113.70999999999995),
 (157, 'DARLENE', 'ROSE', 113.68999999999997),
 (91, 'LOIS', 'BUTLER', 113.64999999999995),
 (493, 'BRENT', 'HARKINS', 112.76999999999997),
 (540, 'TYRONE', 'ASHER', 112.75999999999998),
 (63, 'ASHLEY', 'RICHARDSON', 112.74999999999996),
 (590, 'SETH', 'HANNON', 112.74999999999996),
 (327, 'LARRY', 'THRASHER', 112.73999999999997),
 (407, 'DALE', 'RATCLIFF', 112.72999999999995),
 (441, 'MARIO', 'CHEATHAM', 112.71999999999996),
 (256, 'MABEL', 'HOLLAND', 112.69999999999997),
 (161, 'GERALDINE', 'PERKINS', 112.69999999999995),
 (453, 'CALVIN', 'MARTEL', 111.76999999999995),
 (528, 'CLAUDE', 'HERZOG', 111.74999999999996),
 (518, 'GABRIEL', 'HARDER', 111.73999999999997),
 (234, 'CLAUDIA', 'FULLER', 111.73999999999995),
 (116, 'VICTORIA', 'GIBSON', 111.72999999999998),
 (396, 'EARL', 'SHANKS', 111.72999999999996),
 (579, 'DARYL', 'LARUE', 111.72999999999995),
 (213, 'GINA', 'WILLIAMSON', 111.71999999999996),
 (592, 'TERRANCE', 'ROUSH', 111.70999999999995),
 (28, 'CYNTHIA', 'YOUNG', 111.67999999999995),
 (375, 'AARON', 'SELBY', 110.75999999999998),
 (258, 'MYRTLE', 'FLEMING', 110.75999999999996),
 (417, 'TRAVIS', 'ESTEP', 110.74999999999996),
 (231, 'GEORGIA', 'JACOBS', 110.73999999999997),
 (40, 'AMANDA', 'CARTER', 110.72999999999996),
 (190, 'YOLANDA', 'WEAVER', 110.72999999999996),
 (559, 'EVERETT', 'BANDA', 110.71999999999997),
 (376, 'RANDY', 'GAITHER', 110.71999999999996),
 (90, 'RUBY', 'WASHINGTON', 110.71999999999994),
 (563, 'KEN', 'PREWITT', 110.70999999999997),
 (424, 'KYLE', 'SPURLOCK', 110.69999999999996),
 (135, 'JUANITA', 'MASON', 110.69999999999995),
 (138, 'HAZEL', 'WARREN', 110.65999999999994),
 (477, 'DAN', 'PAINE', 109.77999999999996),
 (155, 'GAIL', 'KNIGHT', 109.74999999999997),
 (193, 'KATIE', 'ELLIOTT', 109.74999999999996),
 (305, 'RICHARD', 'MCCRARY', 109.74999999999996),
 (460, 'LEON', 'BOSTIC', 109.74999999999996),
 (562, 'WALLACE', 'SLONE', 109.74999999999996),
 (121, 'JOSEPHINE', 'GOMEZ', 109.73999999999997),
 (471, 'DEAN', 'SAUER', 109.72999999999998),
 (333, 'ANDREW', 'PURDY', 109.72999999999996),
 (574, 'JULIAN', 'VEST', 109.71999999999997),
 (290, 'KRISTINA', 'CHAMBERS', 109.71999999999996),
 (405, 'LEONARD', 'SCHOFIELD', 109.67999999999996),
 (47, 'FRANCES', 'PARKER', 108.77999999999997),
 (541, 'DARREN', 'WINDHAM', 108.75999999999996),
 (201, 'VICKI', 'FIELDS', 108.74999999999996),
 (572, 'SIDNEY', 'BURLESON', 108.74999999999996),
 (587, 'SERGIO', 'STANFIELD', 108.73999999999995),
 (145, 'LUCILLE', 'HOLMES', 108.71999999999998),
 (275, 'CAROLE', 'BARNETT', 108.69999999999996),
 (246, 'MARIAN', 'MENDOZA', 107.76999999999998),
 (249, 'DORA', 'MEDINA', 107.76999999999995),
 (127, 'ELAINE', 'STEVENS', 107.75999999999996),
 (553, 'MAX', 'PITT', 107.75999999999996),
 (109, 'EDNA', 'WEST', 107.73999999999997),
 (261, 'DEANNA', 'BYRD', 107.73999999999997),
 (546, 'KELLY', 'KNOTT', 107.73999999999997),
 (581, 'VIRGIL', 'WOFFORD', 107.72999999999996),
 (52, 'JULIE', 'SANCHEZ', 107.70999999999997),
 (418, 'JEFF', 'EAST', 107.69999999999995),
 (452, 'TOM', 'MILNER', 107.67999999999996),
 (345, 'CARL', 'ARTIS', 106.76999999999998),
 (341, 'PETER', 'MENARD', 106.76999999999997),
 (379, 'CARLOS', 'COUGHLIN', 106.76999999999997),
 (11, 'LISA', 'ANDERSON', 106.75999999999996),
 (98, 'LILLIAN', 'GRIFFIN', 106.74999999999996),
 (160, 'ERIN', 'DUNN', 106.72999999999998),
 (381, 'BOBBY', 'BOUDREAU', 106.64999999999996),
 (429, 'FREDERICK', 'ISBELL', 105.78999999999996),
 (308, 'THOMAS', 'GRIGSBY', 105.74999999999999),
 (150, 'DANIELLE', 'DANIELS', 105.74999999999997),
 (414, 'VINCENT', 'RALSTON', 105.74999999999996),
 (517, 'BRAD', 'MCCURDY', 105.74999999999996),
 (96, 'DIANA', 'ALEXANDER', 105.72999999999998),
 (397, 'JIMMY', 'SCHRADER', 105.70999999999997),
 (247, 'STELLA', 'MORENO', 104.77999999999997),
 (466, 'LEO', 'EBERT', 104.76999999999998),
 (409, 'RODNEY', 'MOELLER', 104.76999999999997),
 (270, 'LEAH', 'CURTIS', 104.74999999999996),
 (31, 'BRENDA', 'WRIGHT', 104.73999999999997),
 (312, 'MARK', 'RINEHART', 104.73999999999995),
 (425, 'FRANCIS', 'SIKES', 104.73999999999994),
 (391, 'CLARENCE', 'GAMEZ', 104.69999999999996),
 (65, 'ROSE', 'HOWARD', 103.77999999999999),
 (365, 'BRUCE', 'SCHWARZ', 103.76999999999997),
 (519, 'RON', 'DELUCA', 103.76999999999997),
 (475, 'PEDRO', 'CHESTNUT', 103.75999999999996),
 (199, 'BETH', 'FRANKLIN', 103.74999999999997),
 (324, 'GARY', 'COY', 103.74999999999997),
 (537, 'CLINTON', 'BUFORD', 103.74999999999997),
 (202, 'CARLA', 'GUTIERREZ', 103.73999999999998),
 (383, 'MARTIN', 'BALES', 103.72999999999998),
 (74, 'DENISE', 'KELLY', 103.72999999999996),
 (282, 'JENNY', 'CASTRO', 103.72999999999996),
 (12, 'NANCY', 'THOMAS', 103.71999999999998),
 (374, 'JEREMY', 'HURTADO', 103.71999999999998),
 (100, 'ROBIN', 'HAYES', 102.75999999999995),
 (445, 'MICHEAL', 'FORMAN', 102.73999999999997),
 (367, 'ADAM', 'GOOCH', 101.78),
 (480, 'COREY', 'HAUSER', 101.77999999999997),
 (554, 'DWAYNE', 'OLVERA', 101.77999999999997),
 (83, 'LOUISE', 'JENKINS', 101.74999999999999),
 (359, 'WILLIE', 'MARKHAM', 101.74999999999997),
 (156, 'BERTHA', 'FERGUSON', 101.74999999999996),
 (298, 'ERIKA', 'PENA', 101.73999999999998),
 (385, 'PHILLIP', 'HOLM', 101.73999999999998),
 (219, 'WILLIE', 'HOWELL', 101.73999999999997),
 (387, 'JESSE', 'SCHILLING', 101.73999999999997),
 (509, 'RAUL', 'FORTIER', 100.79999999999998),
 (55, 'DORIS', 'REED', 100.77999999999997),
 (106, 'CONNIE', 'WALLACE', 100.76999999999997),
 (123, 'SHANNON', 'FREEMAN', 100.75999999999998),
 (456, 'RONNIE', 'RICKETTS', 100.74999999999997),
 (303, 'WILLIAM', 'SATTERFIELD', 100.73999999999997),
 (474, 'DUSTIN', 'GILLETTE', 100.73999999999997),
 (77, 'JANE', 'BENNETT', 100.72),
 (361, 'LAWRENCE', 'LAWTON', 100.68999999999998),
 (64, 'JUDITH', 'COX', 100.66999999999997),
 (449, 'OSCAR', 'AQUINO', 99.79999999999997),
 (489, 'RICARDO', 'MEADOR', 99.78999999999998),
 (67, 'KELLY', 'TORRES', 99.77999999999997),
 (192, 'LAURIE', 'LAWRENCE', 99.76999999999998),
 (437, 'RANDALL', 'NEUMANN', 99.76999999999998),
 (547, 'KURT', 'EMMONS', 99.76999999999998),
 (352, 'ALBERT', 'CROUSE', 99.76999999999997),
 (43, 'CHRISTINE', 'ROBERTS', 99.75999999999999),
 (511, 'CHESTER', 'BENNER', 99.75999999999999),
 (10, 'DOROTHY', 'TAYLOR', 99.74999999999997),
 (597, 'FREDDIE', 'DUGGAN', 99.74999999999997),
 (570, 'IVAN', 'CROMWELL', 99.73999999999997),
 (580, 'ROSS', 'GREY', 99.72999999999998),
 (72, 'THERESA', 'WATSON', 99.69999999999995),
 (272, 'KAY', 'CALDWELL', 98.79999999999998),
 (17, 'DONNA', 'THOMPSON', 98.78999999999998),
 (443, 'FRANCISCO', 'SKIDMORE', 98.77999999999997),
 (544, 'CODY', 'NOLEN', 98.77999999999997),
 (217, 'AGNES', 'BISHOP', 98.76999999999998),
 (180, 'STACY', 'CUNNINGHAM', 98.76999999999997),
 (175, 'ANNETTE', 'OLSON', 98.75999999999998),
 (60, 'MILDRED', 'BAILEY', 98.75),
 (264, 'GWENDOLYN', 'MAY', 98.74999999999997),
 (516, 'ELMER', 'NOE', 98.73999999999997),
 (133, 'PAULINE', 'HENRY', 98.72999999999996),
 (310, 'DANIEL', 'CABRAL', 97.79999999999998),
 (505, 'RAFAEL', 'ABNEY', 97.78999999999996),
 (73, 'BEVERLY', 'BROOKS', 97.75999999999998),
 (182, 'RENEE', 'LANE', 97.74),
 (111, 'CARMEN', 'OWENS', 97.73999999999998),
 (422, 'MELVIN', 'ELLINGTON', 97.73999999999995),
 (498, 'GENE', 'SANBORN', 97.72999999999999),
 (461, 'DEREK', 'BLAKELY', 97.71999999999998),
 (578, 'WILLARD', 'LUMPKIN', 96.77999999999999),
 (101, 'PEGGY', 'MYERS', 96.75999999999996),